/*#wrapper {
    background-color: #40485a !important;
}*/

.astrick{
    color: red;
}

.top-navbar-state{
    margin-top: 18px;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.modal-cross{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 21px;
}

.event-camp-ui-select{
    height : 54px !important;
    /*width: 200px;*/
}

.event-camp-ui-select > div{
    max-height: 50px !important;
    overflow-y: auto;
}
