<!--<div class="col-lg-12" ng-controller="cloneEmailSavedTempCtrl">

    <div class="col-lg-6 " id="studio">
        <a ui-sref="home.email" class="fa1 fa-angle-left" id="back-button" ></a>
        <section id="output">
            <iframe id="studio-iframe"></iframe>
        </section>

    </div>
    <div class="col-lg-6 " id="editor">
        <div id="editor-text">
            <textarea ui-codemirror="editorOptions1" ng-model="html"></textarea>
        </div>
    </div>
    <div class="primary-btn">
            <button type="button" class="btn btn-lg btn-primary w-80" ng-click="saveTemp()">
                <span>Make a clone</span>
            </button>
           
    </div>
</div>-->


<div class="wrapper wrapper-content animated fadeInRight" ng-controller="cloneEmailSavedTempCtrl">

    <div class="row" ng-show="spinner">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="spiner-example">
                        <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-hide="spinner">

        <div class="row">
            <div class="col-lg-12">
                <div class="create-email-btn-div">

                    <a ui-sref="home.email" class="fa1 fa-angle-left" id="back-button" ></a>

                    <button type="button" class="btn btn-lg btn-primary w-80" ng-click="saveTemp()">
                        <span>Make a clone</span>
                    </button>

                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6 email-template-view">
                <!--<a ui-sref="home.email" class="fa1 fa-angle-left" id="back-button" ></a>-->
                <section id="output">
                    <iframe id="studio-iframe"></iframe>
                </section>

            </div>

            <div class="col-lg-6 email-template-code-div">
                <div id="editor-text">
                    <textarea ui-codemirror="editorOptions1" ng-model="html"></textarea>
                </div>
            </div>

        </div>

    </div>

</div>