<div class="wrapper wrapper-content animated fadeInRight" ng-controller="createEmailCtrl">

    <div class="row">
        <div class="col-lg-12">
            <div class="create-email-btn-div">

                <button type="button" class="btn btn-lg btn-primary w-80" ng-click="validateHtml();open()">
                    <span>Save</span>
                </button>

                <button type="button" class="btn btn-lg btn-primary w-80" ng-click="validateHtml();open1()">
                    <span>Save & Send</span>
                </button>

            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6 email-template-view">
            <!--<a ui-sref="home.email" class="fa1 fa-angle-left" id="back-button" ></a>-->
            <section id="output">
                <iframe id="studio-iframe"></iframe>
            </section>

        </div>

        <div class="col-lg-6 email-template-code-div">
            <div id="editor-text">
                <textarea ui-codemirror="editorOptions1" ng-model="html"></textarea>
            </div>
        </div>

    </div>

</div>