<div class="wrapper wrapper-content animated fadeInRight" ng-controller="emailMainCtrl as emailVm">


        <div class="row" ng-show="emailVm.spinner">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div class="spiner-example">
                            <div class="sk-spinner sk-spinner-wave">
                                <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="row" ng-hide="emailVm.spinner">

        <div class="col-lg-12">

            <div class="ibox float-e-margins">


                <div class="row">

                    <div class="col-lg-7">
                        <h1>Email</h1>
                    </div>

                    <div class="col-lg-5" ng-if="p1 == 'W'">
                        <!--<input type="text" style="width: 70%;height: 40px;" placeholder="Search" ng-model="emailVm.test_input" ng-change="searchThrough()">-->
                        <a ui-sref="table.emailCreation" class="btn btn-primary btn-lg active  pull-right heading-font"
                           role="button" aria-pressed="true">
                            <i class="fa fa-plus"></i>&nbsp; Template</a>
                    </div>

                </div>


                <div class="ibox-content">

                    <table  class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">

                        <thead>

                        <tr class="heading-font">
                            <th>Template Name</th>
                            <th>Subject</th>
                            <th>Created</th>
                            <th style="text-align:right ;">Action</th>
                        </tr>

                        </thead>

                        <tbody>

                        <tr ng-repeat="Email in data" class="table-data">
                            <td ng-click="selectedEmailTemplate(Email)">
                                <a ui-sref="table.updateSavedEmailTemp({template_name : Email.template_name})"
                                   style="text-decoration:underline">{{Email.template_name}}</a>
                            </td>
                            <td>{{Email.subject}}</td>
                            <td>{{Email.created|date : "dd/MM/yy hh:mma" : 0}}</td>

                            <td class="text-right" valign="top" ng-if="p2 == 'W'">
                                <div class="btn-group btn-group-sm btn-group-action dropdown open edit" uib-dropdown="">
                                    <a ui-sref="table.updateSavedEmailTemp({template_name : Email.template_name})" ng-click="selectedEmailTemplate(Email)" class="btn btn-default" href="" id="edit">Edit</a>
                                    <button type="button" class="btn btn-default dropdown-toggle edit" uib-dropdown-toggle="" aria-haspopup="true">
                                        <span class="caret"></span>
                                        <span class="sr-only"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">

                                        <li ng-click="selectedEmailTemplate(Email)">
                                            <a ui-sref="table.updateSavedEmailTemp({template_name : Email.template_name})" test-sendpush="" template="template" ng-click="" class="edit-option">edit</a>
                                        </li>

                                        <li>
                                            <a ui-sref="table.cloneEmailSavedTemp({template_name : Email.template_name})" ng-click="selectedEmailTemplate(Email)" href="" class="edit-option">Clone</a>
                                        </li>

                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="data.length == 0">
                            <td colspan="4" class="text-center">No data available in table</td>
                        </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>