<div class="inmodal" ng-controller="saveModalWindowCtrl">
   
        <form ng-submit="saveTemp();ok()">
    
            <div class="modal-header">
                    <label class="labelStyle">Email Template</label>
            </div>
    
            <div class="modal-body">
     
                <div>
                    
                    <label class="labelStyle">Template Name</label>
                    <input type="text" class="form-control" name="template" placeholder="Enter email template name" required="required" ng-model="template_Name">
                
                </div>
                <div>
                    
                    <label class="labelStyle">Subject</label>
                    <input type="text" class="form-control" name="subject" placeholder="Enter subject" required="required" ng-model="subject">
                
                </div>
            
            </div>
            
            <div class="modal-footer">
                
                <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
                <button type="submit" id="submit" value="Submit" class="btn btn-primary">Save</button>
            
            </div>
        
        </form>
    
</div>