<div class="wrapper wrapper-content animated fadeInRight" ng-controller="liveEventsCtrl as liveEventsCtrl">

    <div class="row" ng-show="loading">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="spiner-example">
                        <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="loading">

        <div class="col-lg-12">

            <div class="ibox float-e-margins">

                <h1>Live Events</h1>
                <br>

                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny live-event-table" data-page-size="15" style="table-layout: fixed;width: 100%;">

                        <thead>
                            <tr class="table-heading">
                                <th data-toggle="true" style="width: 25%;">User Email</th>
                                <th style="width: 25%;">Platform</th>
                                <th style="width: 25%;">Event</th>
                                <th style="width: 25%;">Date</th>
                                <th data-hide="all"></th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr ng-repeat="user in data">
                                <td>{{user.user_email}}</td>
                                <td>{{user.platform}}</td>
                                <td>{{user.event}}</td>
                                <td>{{user.created |date : "dd/MM/yyyy hh:mma" : 0}}</td>
                                <td>
                                    <div class="row inner-foo-table-fontsize">
                                        <div class="col-md-4 live-events-table-desc-data"
                                             ng-repeat="prop in user.test  | orderBy : 'property_name'" ng-if="prop.value">
                                            <b>{{prop.property_name}}</b> : {{prop.value}}
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr ng-if="data.length == 0">
                                <td colspan="5" class="text-center">No data available in table</td>
                            </tr>

                        </tbody>


                        <tfoot>

                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>

                        </tfoot>

                    </table>

                    </div>
                </div>

            </div>
        </div>

    </div>