.main-div{
    border:3px solid #dedede;
    height: 300px;
    width: 700px;
    margin-top: 20px;
}
.save-button{
    /*width: 8em; */
     height: 3em;
     margin-top:30px;
     margin-left:460px
}
.submit-button{
    height: 3em;
    margin-top:-60px;
    margin-left:300px
}
.title{
    margin-top: 20px;
   
}
.content{
    margin-top: 50px;
}
.smsHeading{
    margin-top:50px;
}
.title-input{
    width:300px;
    height:50px;
}
.mobile-container{
    position: relative; 
    top:-495px; left:-1px;
}
.nexus-push-img{
    margin:auto; 
    display:block
}
.mobile-sms-preview{
    margin-left:40px;
}
.sms-preview-content{
    margin-top:10px;
}

.create-sms-mobile-view{
    width: 100%;
    height: auto;
    margin-top: -180% !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.create-sms-mobile-background{
    width: 100%;
    background-color: white;
    padding: 5px;
}

.create-sms-mobile{
    position: relative;
    width: 60%;
    margin: auto;
    display: block;
}

.create-sms-title{
    margin-top: 5px;
    color:black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    line-height: 33px;
    font-family: Arial, Helvetica, sans-serif;
}

.create-sms-content{
    margin-right: 5%;
    color: black;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}
