<div class="ibox-content" ng-controller="createSmsCtrl as createSmsCtrl">

    <div>

        <div class="row background">

            <form name="paginationForm" ng-submit="saveSMS('send')">

                <div class="col-sm-6 " id="left">
                    <a ui-sref="home.sms" class="fa1 fa-angle-left" ></a>
                    <div style="position: relative;">
                        <img src="img/PN_imgs/nexus-push.png" class="create-sms-mobile">
                        <div class="create-sms-mobile">
                            <div style="width:90%;margin: auto;">
                                <div class="create-sms-mobile-view">
                                    <div class="create-sms-mobile-background">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="create-sms-title">
                                                    <b>VKFLYROBE</b>
                                                </div>
                                                <div class="create-sms-content">
                                                    {{sms_template_content}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 " id="right">
                    <p ng-show="loading">Loading...</p>
                    <p ng-hide="loading"></p>
                    <div class="FormBorder">
                        <h2 class="labelStyle smsHeading">New SMS Template</h2>
                        <div class="col-lg-12 title">
                            <label class="labelStyle col-md-2">
                                Template Name
                                <span class="required">* </span>
                            </label>
                            <div class="col-lg-10" style="width:100px;height:20px;">
                                <input type="text" name="name" class="title-input" required="required" ng-model="sms_template_name" required="">
                            </div>
                        </div>
                        <div class="col-lg-12 content">
                            <label class="labelStyle col-md-2">
                                Content
                                <span class="required">* </span>
                            </label>
                            <div class="col-lg-6">
                                <textarea rows="8" cols="60" name="content" required="required" ng-model="sms_template_content" required=""></textarea>
                            </div>
                        </div>
                        <div>
                            <button type="button" ng-click="saveSMS('save')" class="btn btn-primary btn-md save-button">Save</button>
                        </div>
                        <div>
                            <button type="submit" id="submit" value="Submit" class="btn btn-primary btn-md submit-button">Send</button>
                        </div>
                    </div>
                </div>

            </form>

        </div>

    </div>

</div>