<div class="inmodal" ng-controller="modalWindowSmsCtrl as modalWindowSmsCtrl">
   
    <form ng-submit="sendSms();ok();">

        <div class="modal-header">

        </div>

        <div class="modal-body">
           
            <div class="targetUsers">
                
                <label class="labelStyle">Target Users</label>
                <select ng-change="check()" ng-model="userData.userSelected" ng-options="item.user for item in userArr" class="form-control m-b">
                </select>

            </div>
            
            <div class="Eventusers" ng-if="(userData.userSelected.user=='Segments')">
                
                <label class="labelStyle">Segments</label>
                <select ng-model="userData.eventArr" ng-options="eventobj for eventobj in segmentName" ng-change="checkEvent()" class="form-control m-b"></select>
            
            </div>
            
            <div class="form-group" ng-if="(userData.userSelected.user=='Selected Users')">
                
                <label class="control-label labelStyle">User Phone Number</label>
                <div class="form-group">

                    <textarea class="form-control" name="userSms" placeholder="example:'9066393213'" ng-pattern="[1-9]{1}[0-9]{9}" required="required" ng-model="userData.phoneNo">
                        </textarea>

                </div>
           
            </div>
        
        </div>
        
        <div class="modal-footer">
            
            <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
            <button type="submit" id="submit" value="Submit" class="btn btn-primary">Send</button>
        
        </div>
    
    </form>

</div>