<div class="wrapper wrapper-content animated fadeInRight" ng-controller="smsMainCtrl as smsMainCtrl">

    <div>

        <div class="row" ng-show="loading">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div class="spiner-example">
                            <div class="sk-spinner sk-spinner-wave">
                                <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" ng-hide="loading">

        <div class="col-lg-12">

            <div class="ibox float-e-margins">


                <div class="row" style="display: flex;align-items: flex-end">

                    <div class="col-lg-7">
                        <h1>SMS</h1>
                    </div>

                    <div class="col-lg-5" ng-if="p1 == 'W'">
                        <!--<input type="text" style="width: 70%;height: 40px;" placeholder="Search" ng-model="smsMainCtrl.search_input" ng-change="searchThrough()">-->
                        <a ui-sref="smsCreation" class="btn btn-primary btn-lg active  pull-right heading-font" role="button" aria-pressed="true">
                            <i class="fa fa-plus"></i>&nbsp; Template</a>
                    </div>

                </div>


                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">

                        <thead>

                            <tr class="heading-font">
                                <th data-toggle="true">Template Name</th>
                                <th>Content</th>
                                <th>Created</th>
                                <th style="text-align:right ;">Action</th>
                                <th data-hide="all"></th>
                            </tr>

                        </thead>

                        <tbody>

                            <tr ng-repeat="Sms in data" class="table-data">
                                <td ng-click="setelectedSmsTemplate(Sms)">
                                    <a ui-sref="updateSavedSmsTemp({template_name : Sms.template_name})" style="text-decoration:underline">{{Sms.template_name}}</a>
                                </td>
                                <td>{{Sms.template_content}}</td>
                                <td>{{Sms.created|date : "dd/MM/yy hh:mma" : 0}}</td>

                                <td class="text-right" valign="top" ng-if="p2 == 'W'">
                                    <div class="btn-group btn-group-sm btn-group-action dropdown open edit" uib-dropdown="">
                                        <a ui-sref="updateSavedSmsTemp({template_name : Sms.template_name})" ng-click="setelectedSmsTemplate(Sms)" class="btn btn-default" href="" id="edit">Edit</a>
                                        <button type="button" class="btn btn-default dropdown-toggle edit" uib-dropdown-toggle="" aria-haspopup="true">
                                            <span class="caret"></span>
                                            <span class="sr-only"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">

                                            <li ng-click="setelectedSmsTemplate(Sms)">
                                                <a ui-sref="updateSavedSmsTemp({template_name : Sms.template_name})" test-sendpush="" template="template" ng-click="" class="edit-option">edit</a>
                                            </li>

                                            <li>
                                                <a ui-sref="cloneSmsSavedTemp({template_name : Sms.template_name})" ng-click="setelectedSmsTemplate(Sms)" href="" class="edit-option">Clone</a>
                                            </li>

                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="data.length == 0">
                                <td colspan="5" class="text-center">No data available in table</td>
                            </tr>

                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>