.w-45p{
    width : 45% !important;
}

.w-50p{
    width : 50% !important;
}

.w-60p{
    width : 60% !important;
}

.w-200{
    width:200px !important;
}

.m-t-20{
    margin-top: 20px !important;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.p-10{  padding: 10px;  }
.p-20{  padding: 20px;  }
.p-30{  padding: 30px;  }