.email-template-view {
    height:100vh;
    background-image: url('/img/checkBackG.jpg');
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
}

.email-template-code-div {
    padding: 0 30px;
    height:100vh;
    background-color: #2c323a;
}

#studio-iframe{
    margin-left:-15px;
    width:683px;
    height:100vh;
}
#editor-text{
    width:683px;
    margin-left:-30px;
}


.create-email-btn-div{
    text-align: right;
    margin-bottom: 10px;
}