#studio {
    position: fixed;
    width: 50%;
    height:100vh;
    left: 0;
    right: 0;
    background-image: url('/img/checkBackG.jpg');
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
  }

  #editor {
    margin: 0 0 0 50%;
    padding: 0 30px;
    position: fixed;
    left: 0;
    top: 0;
    height:100vh;
    background-color: #2c323a;
  }

 #studio-iframe{
    margin-left:-15px;
    width:683px;
    height:100vh;
 }
 #editor-text{
    width:683px;
    margin-left:-30px;
 }
 .primary-btn{
     position: fixed;
    bottom: 35px;
    right: 30px;
}
#back-button{
    position: fixed;
    top: 20px;
    left: 10px;
}