<div class="ibox-content" ng-controller="cloneSavedTempCtrl as cloneSavedTempCtrl">

    <div class="row" ng-show="spinner">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="spiner-example">
                        <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row background"  ng-hide="spinner">

        <!--<form name="paginationForm" ng-submit="validateForm();open1()">-->
        <form name="paginationForm" ng-submit="open1()">

            <div class="col-sm-6 " id="left">

                <a ui-sref="home.pushMain" class="fa1 fa-angle-left" href="#/app/push_template/index"></a>

                <div style="position: relative;">
                    <img src="img/PN_imgs/nexus-push.png" class="push-template-view">
                    <div class="push-template-view">
                        <div style="width : 90%;margin:auto;">

                            <div class="mobileViewBorder">
                                <div class="mobileViewBackground">

                                    <div class="row mobileViewLogo">
                                        <div class="col-sm-3">
                                            <img ng-src="{{selectedUser.template_content.content.large_icon}}">
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="mobileTitle">
                                                <b>{{selectedUser.template_content.content.title}}</b>
                                            </div>
                                            <div class="mobileContent">
                                                {{selectedUser.template_content.content.body | limitTo : 30}}
                                                <span ng-if="selectedUser.template_content.content.body.length > 30">...</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div ng-if="selectedUser.template_content.template_type =='image_no_action' || selectedUser.template_content.template_type=='image_one_action' || selectedUser.template_content.template_type=='image_two_action'"
                                                 class="mobileBigImage">
                                                <img ng-src="{{selectedUser.template_content.content.big_image}}" width="50%">
                                            </div>

                                            <div ng-if="selectedUser.template_content.template_type =='text_one_action'" class="TextOneActionOneButton">
                                                <button class="TextTwoActionTwoButtonOk">
                                                    <span class="cancel-button">OK</span>
                                                </button>
                                            </div>

                                            <div ng-if="selectedUser.template_content.template_type =='text_two_action'" class="TextTwoActionTwoButton">
                                                <hr style="height:1px;border:none;opacity:0.5;color:#333;background-color:#333;" />
                                                <div class="" style="margin-left: 9%;">
                                                    <button class="TextTwoActionTwoButtonCancle">
                                                        <span class="cancel-button">CANCEL</span>
                                                    </button>
                                                    <button class="TextTwoActionTwoButtonOk">
                                                        <span class="cancel-button">OK</span>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="pn-btn-div" ng-if="selectedUser.template_content.template_type == 'image_one_action'">
                                                <!--<button class="TextTwoActionTwoButtonOk">
                                                    <span class="cancel-button">OK</span>
                                                </button>-->

                                                <div class="pn-template-ok-btn w-50p">
                                                    OK
                                                </div>
                                            </div>

                                            <div ng-if="selectedUser.template_content.template_type=='image_two_action'"
                                                 class="pn-btn-div">
                                                <div class="w-50p float-right">
                                                    <div class="pn-template-ok-btn w-45p">
                                                        CANCEL
                                                    </div>
                                                    <div class="pn-template-ok-btn w-45p">
                                                        OK
                                                    </div>
                                                </div>
                                                <div style="clear: both;"></div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div style="position: relative;">
                    <img src="img/PN_imgs/nexus-push.png" style="margin:auto; display:block">
                    <div class="preview">
                        <div>

                            <div class="mobileViewBorder">
                                <div class="mobileViewBackground">
                                    <div class="row mobileViewLogo">
                                        <div class="col-md-3">
                                            <img ng-src="{{selectedUser.template_content.content.large_icon}}">
                                        </div>
                                        <div class="col-md-9">
                                            <div class="mobileTitle">
                                                <b>{{selectedUser.template_content.content.title}}</b>
                                            </div>
                                            <div class="mobileContent">
                                                {{selectedUser.template_content.content.body}}
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="selectedUser.template_content.template_type =='image_no_action' || selectedUser.template_content.template_type=='image_one_action' || selectedUser.template_content.template_type=='image_two_action'"
                                        class="mobileBigImage">
                                        <img ng-src="{{selectedUser.template_content.content.big_image}}" width="50%">
                                    </div>

                                    <div ng-if="selectedUser.template_content.template_type =='text_one_action'" class="TextOneActionOneButton">
                                        <button class="TextTwoActionTwoButtonOk">
                                            <span class="cancel-button">OK</span>
                                        </button>
                                    </div>

                                    <div ng-if="selectedUser.template_content.template_type =='text_two_action'" class="TextTwoActionTwoButton">
                                        <hr style="height:1px;border:none;opacity:0.5;color:#333;background-color:#333;" />
                                        <div class="" style="margin-left: 9%;">
                                            <button class="TextTwoActionTwoButtonCancle">
                                                <span class="cancel-button">CANCEL</span>
                                            </button>
                                            <button class="TextTwoActionTwoButtonOk">
                                                <span class="cancel-button">OK</span>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="mobileOneButton" ng-if="userData.selection=='image_one_action'">
                                        <button class="TextTwoActionTwoButtonOk">
                                            <span class="cancel-button">OK</span>
                                        </button>
                                    </div>
                                    <div ng-if="selectedUser.template_content.template_type=='image_two_action'" class="mobileTwoButtonFirstMain">
                                        <button class="mobileTwoButtonFirst btn btn-default">
                                            CANCEL
                                        </button>
                                        <button class="mobileTwoButtonSecond btn btn-default">
                                            OK
                                        </button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

            </div>


            <div class="col-sm-6 " id="right">

                <p ng-show="loading">Loading...</p>
                <p ng-hide="loading"></p>

                <div class="FormBorder">

                    <div class="DropDownForm">

                        <div class="form-group" style="margin-top: 80px">

                            <label class="control-label labelStyle">Template Name</label>

                            <div class="control-group">
                                <input type="text" class="form-control" name="template" required="required" ng-model="template_name">
                            </div>

                        </div>

                        <div class="selectTemplate">

                            <label class="labelStyle">Select Template</label>
                            <select ng-model="selectedUser.template_content.template_type" value="{{selectedUser.template_content.template_type}}" class="form-control m-b">
                                <option value="text_no_action">
                                    Text No Action
                                </option>
                                <option value="text_one_action">
                                    Text One Action
                                </option>
                                <option value="text_two_action">
                                    Text Two Action
                                </option>
                                <option value="image_no_action">
                                    Image No Action
                                </option>
                                <option value="image_one_action">
                                    Image One Action
                                </option>
                                <option value="image_two_action">
                                    Image Two Action
                                </option>
                            </select>

                        </div>

                    </div>

                    <div class="TextFieldsForm form-group required ">

                        <div class="form-group" ng-if="selectedUser.template_content.template_type=='text_no_action' || selectedUser.template_content.template_type =='text_one_action' || selectedUser.template_content.template_type =='text_two_action' || selectedUser.template_content.template_type =='image_no_action' || selectedUser.template_content.template_type=='image_one_action' || selectedUser.template_content.template_type=='image_two_action'">

                            <label class="control-label labelStyle">Title</label>
                            <div class="control-group">
                                <input type="text" class="form-control" name="title" required="required" ng-model="selectedUser.template_content.content.title">
                            </div>

                        </div>

                        <div class="form-group" ng-if="selectedUser.template_content.template_type=='text_no_action' || selectedUser.template_content.template_type =='text_one_action' || selectedUser.template_content.template_type =='text_two_action' || selectedUser.template_content.template_type =='image_no_action' || selectedUser.template_content.template_type=='image_one_action' || selectedUser.template_content.template_type=='image_two_action'">

                            <label class="control-label labelStyle">Icon url</label>
                            <div class="control-group">
                                <input type="url" class="form-control" name="iconUrl" required="required" ng-model="selectedUser.template_content.content.large_icon">
                            </div>

                        </div>

                        <div class="form-group" ng-if="selectedUser.template_content.template_type=='text_no_action' || selectedUser.template_content.template_type =='text_one_action' || selectedUser.template_content.template_type =='text_two_action' || selectedUser.template_content.template_type =='image_no_action' || selectedUser.template_content.template_type=='image_one_action' || selectedUser.template_content.template_type=='image_two_action'">

                            <label class="control-label labelStyle">Deeplink</label>
                            <div class="control-group">
                                <input type="url" class="form-control" name="deepLink" ng-model="selectedUser.template_content.content.deeplink">
                            </div>

                        </div>

                        <div class="form-group" ng-if="selectedUser.template_content.template_type =='image_no_action'|| selectedUser.template_content.template_type=='image_one_action' || selectedUser.template_content.template_type=='image_two_action'">

                            <label class="control-label labelStyle">Image url</label>
                            <div class="control-group">
                                <input type="url" class="form-control" name="imageUrl1" required="required" ng-model="selectedUser.template_content.content.big_image">
                            </div>

                        </div>

                        <div class="form-group" ng-if="selectedUser.template_content.template_type=='text_no_action' || selectedUser.template_content.template_type=='text_one_action' || selectedUser.template_content.template_type =='text_two_action' || selectedUser.template_content.template_type=='image_no_action' || selectedUser.template_content.template_type=='image_one_action' || selectedUser.template_content.template_type=='image_two_action'">

                            <label class="control-label labelStyle">Content</label>
                            <div class="control-group">
                                    <textarea maxlength="256" rows="4" type="text" ng-model="selectedUser.template_content.content.body" ng-disabled="locked"
                                              class="form-control ng-pristine ng-valid ng-valid-maxlength ng-touched" style="width: 100%;">  </textarea>

                            </div>

                        </div>
                        <div>

                            <button type="button" ng-click="saveTemp()" class="btn btn-primary btn-md"
                            style="">Save</button>

                            <button type="submit" value="Submit" class="btn btn-primary btn-md"
                                    style="">Send</button>

                        </div>

                    </div>

                </div>

            </div>

        </form>

    </div>

</div>