<div class="ibox-content" ng-controller="createPNCtrl">

    <div>

        <div class="row background">

            <form name="paginationForm" validate-form="" novalidate="" ng-submit="validateForm();open1()">

                <div class="col-sm-6 " id="left">
                    <a ui-sref="home.pushMain" class="fa1 fa-angle-left" href="#/app/push_template/index"></a>

                    <div style="position: relative;">
                        <img src="img/PN_imgs/nexus-push.png" class="push-template-view">
                        <div class="push-template-view">
                            <div style="width : 90%;margin:auto;">

                                <div class="mobileViewBorder">
                                    <div class="mobileViewBackground">

                                        <div class="row mobileViewLogo">
                                            <div class="col-sm-3">
                                                <img ng-src="{{userData.largeIcon}}">
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="mobileTitle">
                                                    <b>{{userData.title}}</b>
                                                </div>
                                                <div class="mobileContent">
                                                    {{userData.body | limitTo : 30}}
                                                    <span ng-if="userData.body.length > 30">...</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div ng-if="userData.selection =='image_no_action' || userData.selection == 'image_one_action' || userData.selection == 'image_two_action'"
                                                     class="mobileBigImage">
                                                    <img ng-src="{{userData.bigImage}}" width="50%">
                                                </div>

                                                <div ng-if="userData.selection =='text_one_action'" class="TextOneActionOneButton">
                                                    <button class="TextTwoActionTwoButtonOk">
                                                        <span class="cancel-button">OK</span>
                                                    </button>
                                                </div>

                                                <div ng-if="userData.selection =='text_two_action'" class="TextTwoActionTwoButton">
                                                    <hr style="height:1px;border:none;opacity:0.5;color:#333;background-color:#333;" />
                                                    <div class="" style="margin-left: 9%;">
                                                        <button class="TextTwoActionTwoButtonCancle">
                                                            <span class="cancel-button">CANCEL</span>
                                                        </button>
                                                        <button class="TextTwoActionTwoButtonOk">
                                                            <span class="cancel-button">OK</span>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="pn-btn-div" ng-if="userData.selection == 'image_one_action'">
                                                    <!--<button class="TextTwoActionTwoButtonOk">
                                                        <span class="cancel-button">OK</span>
                                                    </button>-->

                                                    <div class="pn-template-ok-btn w-50p">
                                                        OK
                                                    </div>
                                                </div>

                                                <div ng-if="userData.selection=='image_two_action'"
                                                     class="pn-btn-div">
                                                    <div class="w-50p float-right">
                                                        <div class="pn-template-ok-btn w-45p">
                                                            CANCEL
                                                        </div>
                                                        <div class="pn-template-ok-btn w-45p">
                                                            OK
                                                        </div>
                                                    </div>
                                                    <div style="clear: both;"></div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 " id="right">

                    <p ng-show="loading">Loading...</p>

                    <div class="FormBorder">
                        <div class="DropDownForm">

                            <div class="form-group" style="margin-top: 80px">
                                <label class="control-label labelStyle">Template Name</label>
                                <div class="control-group">
                                    <input type="text" class="form-control" name="template" placeholder="eg:test" required="required" ng-model="userData.template_Name">
                                </div>
                            </div>

                            <div class="selectTemplate">
                                <label class="labelStyle">Select Template</label>
                                <select ng-model="userData.selection" class="form-control m-b" required="">
                                    <option value="text_no_action">
                                        Text No Action
                                    </option>
                                    <option value="text_one_action">
                                        Text One Action
                                    </option>
                                    <option value="text_two_action">
                                        Text Two Action
                                    </option>
                                    <option value="image_no_action">
                                        Image No Action
                                    </option>
                                    <option value="image_one_action">
                                        Image One Action
                                    </option>
                                    <option value="image_two_action">
                                        Image Two Action
                                    </option>
                                </select>
                            </div>

                        </div>


                        <div class="TextFieldsForm form-group required ">


                            <div class="form-group" ng-if="userData.selection=='text_no_action' || userData.selection =='text_one_action' || userData.selection =='text_two_action' || userData.selection =='image_no_action' || userData.selection=='image_one_action' || userData.selection=='image_two_action'">
                                <label class="control-label labelStyle">Title</label>
                                <div class="control-group">
                                    <input type="text" class="form-control" name="title" placeholder="Enter the title" required="required" ng-model="userData.title">
                                </div>
                            </div>


                            <div class="form-group" ng-if="userData.selection=='text_no_action' || userData.selection =='text_one_action' || userData.selection =='text_two_action' || userData.selection =='image_no_action' || userData.selection=='image_one_action' || userData.selection=='image_two_action'">
                                <label class="control-label labelStyle">Icon url</label>
                                <div class="control-group">
                                    <input type="url" class="form-control" name="iconUrl" placeholder="eg:'https://flyrobe.com/'" required="required" ng-model="userData.largeIcon">
                                </div>
                            </div>

                            <div class="form-group" ng-if="userData.selection=='text_no_action' || userData.selection =='text_one_action' || userData.selection =='text_two_action' || userData.selection =='image_no_action' || userData.selection=='image_one_action' || userData.selection=='image_two_action'">
                                <label class="control-label labelStyle">Deeplink</label>
                                <div class="control-group">
                                    <input type="url" class="form-control" name="deepLink" placeholder="eg:'https://flyrobe.com/'" ng-model="userData.deepLink">
                                </div>
                            </div>

                            <div class="form-group" ng-if="userData.selection =='image_no_action'|| userData.selection=='image_one_action' || userData.selection=='image_two_action'">
                                <label class="control-label labelStyle">Image url</label>
                                <div class="control-group">
                                    <input type="url" class="form-control" name="imageUrl1" placeholder="eg:'https://flyrobe.com/'" required="required" ng-model="userData.bigImage">
                                </div>
                            </div>

                            <div class="form-group" ng-if="userData.selection=='text_no_action' || userData.selection=='text_one_action' || userData.selection =='text_two_action' || userData.selection=='image_no_action' || userData.selection=='image_one_action' || userData.selection=='image_two_action'">
                                <label class="control-label labelStyle">Content</label>
                                <div class="control-group">
                                    <textarea maxlength="256" rows="4" type="text" ng-model="userData.body" placeholder="Content" ng-disabled="locked" class="form-control ng-pristine ng-valid ng-valid-maxlength ng-touched" style="width: 100%;">  </textarea>
                                </div>
                            </div>
                            <div>
                                <button type="button" ng-click="saveTemp()" class="btn btn-primary btn-md" id="save-button">Save</button>
                            </div>
                            <div>
                                <button type="submit" id="submit" value="Submit" class="btn btn-primary btn-md send-button">Send</button>
                            </div>
                        </div>

                    </div>
                </div>

            </form>

        </div>

    </div>

</div>