
<div ng-controller='createSegmentCtrl as panel'
     class="wrapper wrapper-content animated fadeInRight">

    <!-- START Spinner Div-->
    <div class="row" ng-show="panel.spinner">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="spiner-example">
                        <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Spinner Div-->

    <div ng-hide="panel.spinner">

        <div class="row">
            <div class="col-xs-12">
                <a id="back" type="button" class="btn btn-success float-right" ui-sref="table.segments">Back</a>
                <div style="clear: both"></div>
            </div>
        </div>

        <div class="row m-t-20">

            <div class='col-lg-8'>
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <form class="p-10" name="paginationForm" ng-submit="validateForm()">

                            <div class="row">
                            <div class="form-group">
                                <label>Segment Name</label>
                                <input type="text" class="form-control" name="template"
                                       placeholder="Give your segment a name"
                                       ng-model="segmentData.segment_Name">
                            </div>
                                </div>

                            <hr class="create-segment-hr">

                            <div class="row">

                                <div class="col-md-3">
                                    <section class="create-panel-section">

                                        <ul class='nav nav-pills create-segment-ul'>
                                            <li ng-class="{active: panel.isSelected(1) }">
                                                <a ng-click="panel.selectTab(1)">Recent activity</a>
                                            </li>
                                            <li ng-class="{active: panel.isSelected(2) }">
                                                <a ng-click="panel.selectTab(2)">Lifetime activity</a>
                                            </li>
                                            <li ng-class="{active: panel.isSelected(3) }">
                                                <a ng-click="panel.selectTab(3)">Demographic</a>
                                            </li>
                                        </ul>

                                    </section>
                                </div>

                                <div class="col-md-9">

                                    <div class='panel' ng-show='panel.isSelected(1)'>

                                        <div class="c-s-form">

                                            <div class="FormBorder">

                                                <div class="DropDownForm">

                                                    <h2 class="c-s-sub-h">Filter users by recent activity</h2>

                                                    <div class="select-event">
                                                        <label class="labelStyle">Select Event</label>
                                                        <select ng-model="segmentData.recent_activity.event_name" class="form-control m-b c-s-input-field">
                                                            <option ng-repeat="eventobj in eventArr | orderBy" value="{{eventobj}}">
                                                                {{eventobj}}
                                                            </option>
                                                        </select>
                                                    </div>

                                                </div>

                                                <div class="m-t-20">
                                                    <label class="labelStyle">Start Date</label>
                                                    <div class="input-group" format="YYYY-MM-DD" style="width: 225px;">
                                                    <span class="input-group-addon">
                                                        <i class="gray-text fa fa-calendar"></i>
                                                    </span>
                                                        <input type="text" ng-click="isDatepickerOpen = !isDatepickerOpen"
                                                               class="form-control c-s-date-field" uib-datepicker-popup="yyyy-MM-dd"
                                                               ng-model="segmentData.recent_activity.start_date" is-open="isDatepickerOpen"
                                                               ng-model-options="{ timezone: 'UTC' }"
                                                               datepicker-options="datepickerOptionsStartDate"
                                                               close-text="Close" alt-input-formats="altInputFormats"
                                                        />
                                                    </div>
                                                </div>

                                                <div class="m-t-20">


                                                    <label class="labelStyle" style="margin-top:4px;">End Date</label>
                                                    <div class="input-group" format="YYYY-MM-DD" style="width: 225px;">
                                                    <span class="input-group-addon">
                                                        <i class="gray-text fa fa-calendar"></i>
                                                    </span>
                                                        <input type="text" ng-click="isDatepickerOpen1 = !isDatepickerOpen1"
                                                               class="form-control c-s-date-field" uib-datepicker-popup="yyyy-MM-dd"
                                                               ng-model="segmentData.recent_activity.end_date" is-open="isDatepickerOpen1"
                                                               ng-model-options="{ timezone: 'UTC' }"
                                                               datepicker-options="datepickerOptionsStartDate"
                                                               close-text="Close" alt-input-formats="altInputFormats"
                                                        />
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="c-s-btn-div">

                                                <button type="button" ng-click="panel.selectTab(1,'SAVE')"
                                                        class="btn btn-primary btn-md save-buttom">
                                                    Save
                                                </button>
                                                <button type="submit" id="submit" value="Submit"
                                                        class="btn btn-primary btn-md submit-buttom">
                                                    Completed
                                                </button>

                                            </div>

                                        </div>

                                    </div>

                                    <div class='panel' ng-show='panel.isSelected(2)'>

                                        <div class="c-s-form">

                                                <div class="FormBorder">

                                                    <div class="DropDownForm">

                                                        <h2 class="c-s-sub-h">Filter users by lifetime activity</h2>

                                                        <div class="m-t-20">
                                                            <label class="labelStyle">Field Name:</label>
                                                            <select ng-model="segmentData.lifetime_activity.field_name" class="form-control m-b c-s-input-field"
                                                                    ng-options="field for field in fieldArr"></select>
                                                        </div>

                                                        <div class="m-t-20">
                                                            <label class="labelStyle">Condition name</label>
                                                            <select ng-model="segmentData.lifetime_activity.condition_name" class="form-control m-b c-s-input-field"
                                                                    ng-options="Condition for Condition in conditiondArr"></select>
                                                        </div>

                                                        <div class="m-t-20">
                                                            <label class="labelStyle">Value</label>
                                                            <input type="text" class="form-control m-b c-s-input-field"
                                                                   ng-model="segmentData.lifetime_activity.value" positive-integer="">

                                                        </div>

                                                    </div>

                                                </div>

                                        </div>

                                        <div class="c-s-btn-div">

                                            <button type="button" ng-click="panel.selectTab(2,'SAVE')"
                                                    class="btn btn-primary btn-md save-buttom">
                                                Save
                                            </button>
                                            <button type="submit" value="Submit"
                                                    class="btn btn-primary btn-md submit-buttom">
                                                Completed
                                            </button>

                                        </div>

                                    </div>

                                    <div class='panel' ng-show='panel.isSelected(3)'>

                                        <div class="c-s-form">

                                                <div class="FormBorder">

                                                    <div class="DropDownForm">

                                                        <h2 class="c-s-sub-h">Filter users by demographic information</h2>

                                                        <div class="m-t-20">

                                                            <label class="labelStyle">Select Gender</label>
                                                            <select ng-model="segmentData.demographic_activity.gender" class="form-control m-b c-s-input-field">
                                                                <option value="male">
                                                                    Male
                                                                </option>
                                                                <option value="female">
                                                                    Female
                                                                </option>
                                                            </select>

                                                        </div>

                                                        <div class="m-t-20">

                                                            <label class="labelStyle">Select Location</label>

                                                            <ui-select multiple ng-model="segmentData.demographic_activity.location" theme="bootstrap"
                                                                       class="form-control m-b c-s-input-field">
                                                                <ui-select-match placeholder="Select Location...">{{$item}}</ui-select-match>
                                                                <ui-select-choices repeat="location in locationArr | filter: $select.search">
                                                                    <div ng-bind-html="location | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>



                                                            <!--<select ng-model="segmentData.demographic_activity.location"
                                                                    ng-options="locationobj for locationobj in locationArr"
                                                                    class="form-control m-b c-s-input-field"></select>-->

                                                        </div>

                                                    </div>

                                                </div>

                                            <div class="c-s-btn-div">

                                                <button type="button" ng-click="panel.selectTab(3,'SAVE')"
                                                        class="btn btn-primary btn-md save-buttom">
                                                    Save
                                                </button>
                                                <button type="submit" value="Submit"
                                                        class="btn btn-primary btn-md submit-buttom">
                                                    Completed
                                                </button>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 recent-activity" ng-show="recent == true || lifetime == true || demographic == true">

                <div class="panel panel-default recent-activity-panel">
                    <table class="table table-stripped">
                        <thead>
                        <tr>
                            <th colspan="2" class="text-center">Segment Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Total Users</th>
                            <th>{{segment_content.segment_email.length}}</th>
                        </tr>
                        <tr>
                            <th>Email Enabled</th>
                            <th>{{segment_content.email_enable_count}}</th>
                        </tr>
                        <tr>
                            <th>Push Enabled</th>
                            <th>{{segment_content.push_enable_count}}</th>
                        </tr>
                        <tr>
                            <th>SMS Enabled</th>
                            <th>{{segment_content.sms_enable_count}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel panel-default recent-activity-panel" ng-show="recent == true">

                    <div class="panel-heading">Recent activity <i class="fa fa-times" ng-click="recent = false;segmentData.recent_activity = {};panel.selectTab(1,'REMOVE');"></i></div>
                    <div class="panel-body">
                        Event is '{{segmentData.recent_activity.event_name}}' between {{segmentData.recent_activity.start_date |date : "dd/MM/yyyy" : 0}}
                        and
                        {{segmentData.recent_activity.end_date |date : "dd/MM/yyyy" : 0}}
                    </div>

                </div>

                <div class="panel panel-default recent-activity-panel" ng-show="lifetime == true">

                    <div class="panel-heading">
                        Lifetime Activity
                        <i class="fa fa-times" ng-click="lifetime = false;segmentData.lifetime_activity = {};panel.selectTab(2,'REMOVE');"></i>
                    </div>
                    <div class="panel-body">
                        <div>{{segmentData.lifetime_activity.field_name}} is {{segmentData.lifetime_activity.condition_name}} {{segmentData.lifetime_activity.value}}</div>
                    </div>

                </div>

                <div class="panel panel-default recent-activity-panel" ng-show="demographic == true">

                    <div class="panel-heading">
                        Demographic
                        <i class="fa fa-times" ng-click="demographic = false;segmentData.demographic_activity = {};panel.selectTab(3,'REMOVE');"></i>
                    </div>
                    <div class="panel-body">
                        <div>Gender is equal to {{segmentData.demographic_activity.gender}}</div>
                        <div>City is equal to {{segmentData.demographic_activity.location}}</div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>