
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="segmentsMainCtrl as svm">

    <!-- START Spinner DIV -->
    <div class="row" ng-show="svm.spinner">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="spiner-example">
                        <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Spinner DIV -->

    <div class="row" ng-hide="svm.spinner">
        <div class="col-lg-12">

            <div class="ibox float-e-margins">

                <div class="row">

                    <div class="col-lg-7">
                        <h1>Segments</h1>
                    </div>

                    <div class="col-lg-5" ng-if="p1 == 'W'">
                        <a ui-sref="table.createSegment" class="btn btn-primary btn-lg active  pull-right heading-font"
                           role="button" aria-pressed="true">
                            <i class="fa fa-plus"></i>&nbsp; Segment</a>
                    </div>

                </div>

                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">

                        <thead>
                        <tr class="heading-font">
                            <th>Segment Name</th>
                            <th>Users</th>
                            <th>Email Enabled</th>
                            <th>Push Enabled</th>
                            <th>SMS Enabled</th>
                            <th>Created</th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr ng-repeat="data in svm.table_data">
                            <td>{{data.segment_name}}</td>
                            <td>{{(data.segment_email).length}}</td>
                            <td>{{data.email_enable_count}}</td>
                            <td>{{data.push_enable_count}}</td>
                            <td>{{data.sms_enable_count}}</td>
                            <td>{{data.created|date : "dd/MM/yy hh:mma" : 0}}</td>
                        </tr>
                        <tr ng-if="svm.table_data.length == 0">
                            <td colspan="6" class="text-center">No data available in table</td>
                        </tr>

                        </tbody>

                    </table>

                </div>
            </div>

        </div>
    </div>

</div>