<div class="middle-box text-center loginscreen  animated fadeInDown" ng-controller="loginCtrl as login">

    <div>
        <h1 class="logo-name">
            <img alt="image" class="img" src="http://flyrobe.com/assets/img/logo.png" style="width:60%;"/>
        </h1>
    </div>

    <div class="panel panel-dark panel-flat login-panel">

        <div class="panel-heading text-center">
            <h3>DEXTER'S LAB</h3>
        </div>

        <div class="panel-body">

            <form class="m-t" role="form" validate-form="" novalidate="" name="loginForm" ng-submit="login.loginToDashboard()">

                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" ng-model="login.account.email" required="">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" ng-model="login.account.password" required="">
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b"
                        ng-hide="login.spinner">
                    Login
                </button>
            </form>

            <div ng-show="login.error" class="alert alert-danger text-center">{{login.error}}</div>

            <div class="sk-spinner sk-spinner-chasing-dots" ng-show="login.spinner">
                <div class="sk-dot1"></div>
                <div class="sk-dot2"></div>
            </div>

        </div>

    </div>

</div>