<div class="wrapper wrapper-content animated fadeInRight" ng-controller="campaignsMainCtrl as campaignsMainCtrl">

    <div>

        <div class="row" ng-show="loading">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div class="spiner-example">
                            <div class="sk-spinner sk-spinner-wave">
                                <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" ng-hide="loading">

        <div class="col-lg-12">

            <div class="ibox float-e-margins">


                <div class="row" style="display: flex;align-items: flex-end">

                    <div class="col-lg-7">
                        <h1>Campaigns</h1>
                    </div>


                    <div class="col-lg-5" ng-if="p1 == 'W'">
                        <!--<input type="text" style="width: 70%;height: 40px;margin-left:-15px" placeholder="Search" ng-model="campaignsMainCtrl.test_input"
                            ng-change="searchThrough()">-->

                        <a ng-click="open2()" class="btn btn-primary btn-lg active  pull-right heading-font" role="button" aria-pressed="true">
                            <i class="fa fa-plus"></i>&nbsp; Campaigns</a>
                    </div>

                </div>
                <br>


                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="30">

                        <thead>

                            <tr class="heading-font">
                                <th data-toggle="true">Campaigns Name</th>
                                <th>Campaign Type</th>
                                <th>Status</th>
                                <th>No. of PN Delivered</th>
                                <th>No. of PN Clicked</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <!--<th style="text-align:right ;">Action</th>-->
                                <th data-hide="all"></th>
                            </tr>

                        </thead>

                        <tbody>

                            <tr ng-repeat="campaign in data" class="table-data">
                                <td>{{campaign.campaign_name}}</td>
                                <td>{{campaign.campaign_type}}</td>
                                <td>{{campaign.is_active}}</td>
                                <td>{{campaign.pn_delivered}}</td>
                                <td>{{campaign.pn_clicked}}</td>
                                <td>{{campaign.start_date.date}}</td>
                                <td>{{campaign.end_date.date}}</td>
                                <!--<td class="text-right" valign="top" ng-if="p2 == 'W'">
                                    <div class="btn-group btn-group-sm btn-group-action dropdown open edit" uib-dropdown="">
                                        &lt;!&ndash;<a ui-sref="" ng-click="" class="btn btn-default" href="" id="edit">Edit</a>&ndash;&gt;
                                        <button type="button" class="btn btn-default dropdown-toggle edit" uib-dropdown-toggle="" aria-haspopup="true">
                                            <span class="caret"></span>
                                            <span class="sr-only"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">

                                            <li>
                                                <a href="" test-sendpush="" template="template" ng-click="" class="edit-option">edit</a>
                                            </li>

                                            <li>
                                                <a ui-sref="" ng-click="" href="" class="edit-option">Clone</a>
                                            </li>

                                        </ul>
                                    </div>
                                </td>-->
                            </tr>
                        <tr ng-if="data.length == 0">
                            <td colspan="7" class="text-center">No data available in table</td>
                        </tr>

                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>