<div class="col-lg-12 create-panel-section" ng-controller="createCampaignsCtrl as createCampaignsCtrl">

    <div class="col-lg-12">

        <div class="col-lg-5 div-border div-margin-top">

            <div class="ibox float-e-margins">
                <div class="labelStyle">
                    <h2>Event Triggered Campaign</h2>
                </div>
                <div class="ibox-content" id="name">
                    <div class="mar-b-7">
                        <label class="labelStyle">Name</label>
                        <input type="text" placeholder="Give your campaign a name" ng-model="campaignName" ng-change="setEventType()" class="form-control flex1 ng-pristine ng-untouched ng-valid">
                    </div>
                    <div class="error-red mar-b-10" ng-if="">This campaign name is already in use, please use a different name</div>
                    <div ng-show="campaignName">

                        <div class="start-date">
                            <label class="labelStyle">
                                Start
                                <span class="required">* </span>
                            </label>
                        </div>
                        <div class="input-group datepicker" format="YYYY-MM-DD">
                            <span class="input-group-addon">
                                <i class="gray-text fa fa-calendar"></i>
                            </span>
                            <input type="text" ng-model="startDate" ng-click="isDatepickerOpen = !isDatepickerOpen" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                                ng-model="startDate" is-open="isDatepickerOpen" ng-model-options="{ timezone: 'UTC' }" datepicker-options="datepickerOptionsStartDate"
                                ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        </div>
                        <table class="time-picker">
                            <tr>
                                <td class="form-group uib-time hours" ng-class="">
                                    <input type="number" class=" hours" min="00" max="12" placeholder="HH" ng-model="startHours" ng-change="updateHours()" class="form-control text-center ng-pristine ng-valid ng-valid-maxlength ng-touched"
                                        ng-readonly="::readonlyInput" maxlength="2" tabindex="0" ng-disabled="noIncrementHours()"
                                        ng-blur="blur()">
                                </td>
                                <td class="uib-separator">:</td>
                                <td class="uib-separator">&nbsp;&nbsp;</td>
                                <td class="form-group uib-time minutes" ng-class="">
                                    <input type="number" class="minutes" min="00" max="60" placeholder="MM" ng-model="startMinutes" ng-change="updateMinutes()"
                                        class="form-control text-center ng-pristine ng-untouched ng-valid ng-valid-maxlength"
                                        ng-readonly="::readonlyInput" maxlength="2" tabindex="0" ng-disabled="noIncrementMinutes()"
                                        ng-blur="blur()">
                                </td>
                                <td class="uib-separator">&nbsp;</td>
                                <td class="form-group meridian">
                                    <select name="" id="" class="meridian-select" ng-model="startMed">
                                        <option value="am">AM</option>
                                        <option value="pm">PM</option>
                                    </select>
                                </td>
                            </tr>
                        </table>

                        <div class="mar-b-10 end-date">
                            <label class="labelStyle">
                                End
                                <span class="required">* </span>
                            </label>
                        </div>
                        <div class="input-group datepicker" format="YYYY-MM-DD">
                            <span class="input-group-addon">
                                <i class="gray-text fa fa-calendar"></i>
                            </span>
                            <input type="text" ng-click="isDatepickerOpen1 = !isDatepickerOpen1" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                                ng-model="endDate" is-open="isDatepickerOpen1" ng-model-options="{ timezone: 'UTC' }" datepicker-options="datepickerOptionsStartDate"
                                ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        </div>
                        <table class="time-picker">
                            <tr>
                                <td class="form-group">
                                    <input type="number" class=" hours" min="00" max="12" placeholder="HH" ng-model="endHour" class="form-control text-center ">
                                </td>
                                <td class="uib-separator">:</td>
                                <td class="uib-separator">&nbsp;&nbsp;</td>
                                <td class="form-group">
                                    <input type="number" class="minutes" min="00" max="60" placeholder="MM" ng-model="endMinute" class="form-control text-center ">
                                </td>
                                <td class="uib-separator">&nbsp;</td>
                                <td class="form-group meridian">
                                    <select name="" id="" class="meridian-select" ng-model="endMed">
                                        <option value="am">AM</option>
                                        <option value="pm">PM</option>
                                    </select>
                                </td>
                            </tr>
                        </table>

                        <div class="Eventusers segment-name" ng-click="getEvent()">

                            <label class="labelStyle">Select Event</label>

                            <select ng-model="selectSegmentEvent" ng-options="event for event in eventName" class="form-control m-b"></select>

                        </div>
                        <label class="labelStyle">Repetition Type:</label>&nbsp;&nbsp;
                        <div class="radio radio-info radio-inline recurring">
                            <input type="radio" id="inlineRadio1" ng-model="repetition_type" value="recurring" name="radioInline" class="radio-button">
                            <label for="inlineRadio1" class="recurring-label">Recurring</label>
                        </div>
                        <div class="radio radio-inline non-recurring">
                            <input type="radio" id="inlineRadio2" ng-model="repetition_type" value="non-recurring" name="radioInline" checked="" class="radio-button">
                            <label for="inlineRadio2" class="non-recurring-label">Non-Recurring</label>
                        </div>
                        <label class="labelStyle" style="margin-top:30px;">Deactivation Event:</label>
                        <div style="margin-left: 140px;margin-top: -28px;" ng-click="getEvent()" ng-dropdown-multiselect="" options="eventName" selected-model="stringModel"
                            extra-settings="stringSettings"></div>
                    </div>

                </div>
            </div>


        </div>

        <div class="col-lg-7 div-margin-top">
                <div class="channel-add col-lg-5 col-lg-offset-1 div-margin-top" ng-show="campaignName;startDate;startHours;startMinutes;startMed;endDate;endHours;endMinutes;endMed;selectSegmentEvent;repetition_type"
                    ng-click="div=true;temp=false">
                    <a class="btn btn-primary btn-lg active add-channel" role="button" aria-pressed="true">Add Channel</a>
                </div>
                <div class="channel-add col-lg-5 col-lg-offset-1 div-margin-top" ng-show="campaignName;startDate;startHours;startMinutes;startMed;endDate;endHours;endMinutes;endMed;selectSegmentEvent;repetition_type">
                    <a class="btn btn-primary btn-lg active launch" role="button" aria-pressed="true" ng-click="createCampaign()">Launch</a>
                </div>
    
                <div ng-show="div" class="col-lg-10 col-lg-offset-1 choose-channel-main-div">
                    <div class="choose-channel-inner-div">
    
                        <div class="choose-channel">
                            <h2>Choose a channel</h2>
                        </div>
                        <div class="channel-picker">
                            <div class="flex flex-space-between choose-channel-list">
                                <div class="text-center clickable email-channel" ng-click="email=true;div=false;emailChannel()">
                                    <div class="send-option" ng-class="">
                                        <img src="img/PN_imgs/send-mass-email.png" class="channel-img">
                                    </div>
                                    Email
                                </div>
                                <div class="text-center clickable push-channel" ng-click="push=true;div=false;pushChannel()">
                                    <div class="send-option" ng-class="">
                                        <img src="img/PN_imgs/push-notifications.png" class="channel-img">
                                    </div>
                                    Push
                                </div>
                                <div class="text-center clickable sms-channel" ng-click="sms=true;div=false;smsChannel()">
                                    <div class="send-option" ng-class="">
                                        <img src="img/PN_imgs/sms.png" class="channel-img">
                                    </div>
                                    SMS
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>

    </div>

    <div class="col-lg-8 col-lg-offset-2">
            <div class="col-lg-10 col-lg-offset-1">
                <div ng-show="push" class="wait-time" class="col-md-7 .col-md-offset-3 div-border">
                    <div class="labelStyle">
                        <h2>Waiting Time:</h2>
                    </div>
                    <div class="col-md-12 .col-md-offset-3 time-select time-select">
                        <div class="col-md-2">
                            <input type="text" placeholder="00" ng-model="value_push" class="form-control text-center ng-pristine ng-valid ng-valid-maxlength ng-touched value-select"
                                ng-readonly="::readonlyInput" maxlength="2" tabindex="0">
                        </div>
                        <div class="col-md-2">
                            <select id="unit" ng-model="unit_push">
                                <option value="" disabled selected>Unit</option>
                                <option value="minute">Minute</option>
                                <option value="hour">Hour</option>
                                <option value="day">Day</option>
                                <option value="month">Month</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select id="duration" ng-model="after_push">
                                <option value="" disabled selected>After</option>
                                <option value="after">After</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <select id="event" ng-model="when_push">
                                <option value="" disabled selected>Triggered Event</option>
                                <option value="triggered_event">Triggered Event</option>
                                <option value="triggered_event-properties">Triggered Event Properties</option>
                            </select>
                        </div>
                    </div>
    
                    <div ng-click="getPnTemplate()">
                        <label class="labelStyle div-margin-top">Select Template</label>
                        <select ng-model="selectPnTemplate" ng-options="template for template in pnTemplateName" class="form-control m-b"></select>
                    </div>
                    <div ng-show="repetition_type == 'recurring'">
                        <div class="col-md-3">
                            <label class="labelStyle">Frequency</label>
                            <select id="frequency" ng-model="frequency">
                                <option value="" disabled selected>Value</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="labelStyle">Frequency Interval</label>
                            <select id="duration" ng-model="frequency_time">
                                <option value="" disabled selected>Time</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="labelStyle">Frequency Unit</label>
                            <select id="unit" ng-model="frequency_unit">
                                <option value="" disabled selected>Unit</option>
                                <option value="hour">Hour</option>
                                <option value="day">Day</option>
                            </select>
                        </div>
                    </div>
                    <div id="cancel">
                        <button type="button" ng-click="push=false;div=true" class="btn btn-primary btn-md" id="cancel-button">Cancel</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary btn-md" id="create-button" ng-click="push=false;div=true;push_preview=true;getPushPreivew()">Create</button>
                    </div>
                </div>
                <div ng-show="email" class="wait-time" class="col-md-6 .col-md-offset-3 div-border">
                    <div class="labelStyle">
                        <h2>Waiting Time:</h2>
                    </div>
                    <div class="col-md-12 .col-md-offset-3 time-select time-select">
                        <div class="col-md-2">
                            <input type="text" placeholder="00" ng-model="value_email" class="form-control text-center ng-pristine ng-valid ng-valid-maxlength ng-touched value-select"
                                ng-readonly="::readonlyInput" maxlength="2" tabindex="0">
                        </div>
                        <div class="col-md-2">
                            <select id="unit" ng-model="unit_email">
                                <option value="" disabled selected>Unit</option>
                                <option value="minute">Minute</option>
                                <option value="hour">Hour</option>
                                <option value="day">Day</option>
                                <option value="month">Month</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select id="duration" ng-model="after_email">
                                <option value="" disabled selected>After</option>
                                <option value="after">After</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <select id="event" ng-model="when_email">
                                <option value="" disabled selected>Triggered Event</option>
                                <option value="triggered_event">Triggered Event</option>
                                <option value="triggered_event-properties">Triggered Event Properties</option>
                            </select>
                        </div>
                    </div>
    
                    <div ng-click="getEmaiTemplate()">
                        <label class="labelStyle div-margin-top">Select Template</label>
                        <select ng-model="selectEmailTemplate" ng-options="" class="form-control m-b"></select>
                    </div>
                    <div ng-show="repetition_type == 'recurring'">
                        <div class="col-md-3">
                            <label class="labelStyle">Frequency</label>
                            <select id="frequency" ng-model="">
                                <option value="" disabled selected>Value</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="labelStyle">Frequency Interval</label>
                            <select id="duration" ng-model="">
                                <option value="" disabled selected>Time</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="labelStyle">Frequency Unit</label>
                            <select id="unit" ng-model="">
                                <option value="" disabled selected>Unit</option>
                                <option value="hour">Hour</option>
                                <option value="day">Day</option>
                            </select>
                        </div>
                    </div>
                    <div id="cancel">
                        <button type="button" ng-click="email=false;div=true" class="btn btn-primary btn-md" id="cancel-button">Cancel</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary btn-md" id="create-button" ng-click="email=false;div=true;email_preview=true">Create</button>
                    </div>
                </div>
                <div ng-show="sms" class="wait-time" class="col-md-6 .col-md-offset-3 div-border">
                    <div class="labelStyle">
                        <h2>Waiting Time:</h2>
                    </div>
                    <div class="col-md-12 .col-md-offset-3 time-select time-select">
                        <div class="col-md-2">
                            <input type="text" placeholder="00" ng-model="value_sms" class="form-control text-center ng-pristine ng-valid ng-valid-maxlength ng-touched value-select"
                                ng-readonly="::readonlyInput" maxlength="2" tabindex="0">
                        </div>
                        <div class="col-md-2">
                            <select id="unit" ng-model="unit_sms">
                                <option value="" disabled selected>Unit</option>
                                <option value="minute">Minute</option>
                                <option value="hour">Hour</option>
                                <option value="day">Day</option>
                                <option value="month">Month</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select id="duration" ng-model="after_sms">
                                <option value="" disabled selected>After</option>
                                <option value="after">After</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <select id="event" ng-model="when_sms">
                                <option value="" disabled selected>Triggered Event</option>
                                <option value="triggered_event">Triggered Event</option>
                                <option value="triggered_event-properties">Triggered Event Properties</option>
                            </select>
                        </div>
                    </div>
    
                    <div ng-click="getSmsTemplate()">
                        <label class="labelStyle div-margin-top">Select Template</label>
                        <select ng-model="selectSmsTemplate" ng-options="template for template in smsTemplateName" class="form-control m-b"></select>
                    </div>
                    <div ng-show="repetition_type == 'recurring'">
                        <div class="col-md-3">
                            <label class="labelStyle">Frequency</label>
                            <select id="frequency" ng-model="">
                                <option value="" disabled selected>Value</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="labelStyle">Frequency Interval</label>
                            <select id="duration" ng-model="">
                                <option value="" disabled selected>Time</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="labelStyle">Frequency Unit</label>
                            <select id="unit" ng-model="">
                                <option value="" disabled selected>Unit</option>
                                <option value="hour">Hour</option>
                                <option value="day">Day</option>
                            </select>
                        </div>
                    </div>
                    <div id="cancel">
                        <button type="button" ng-click="sms=false;div=true" class="btn btn-primary btn-md" id="cancel-button">Cancel</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary btn-md" id="create-button" ng-click="sms_preview=true;sms=false;div=true;getSmsPreivew()">Create</button>
                    </div>
                </div>
    
    
            </div>
            <div class="col-lg-3 col-lg-offset-1" ng-show="push_preview">
                <div class="template-preview" class="col-xs-6 col-md-4 div-border">
                    <div class="template-preview-channel">
                        <h2>PN channel</h2>
                    </div>
                    <hr>
                    <div class="template-preview-channel">
                        <h4>{{selectPnTemplate}}</h4>
                    </div>
                    <div>
                        <a ng-click="openPushPreview()" class="btn btn-primary btn-lg active" id="preview-button" role="button" aria-pressed="true">Preview</a>
                    </div>
    
                </div>
            </div>
            <div class="col-lg-3 col-lg-offset-1" ng-show="email_preview">
                <div class="template-preview" class="col-xs-6 col-md-4 div-border">
                    <div class="template-preview-channel">
                        <h2>Email channel</h2>
                    </div>
                    <hr>
                    <div class="template-preview-channel">
                        <h4>Template Name</h4>
                    </div>
                    <div>
                        <a ng-click="openPushPreview()" class="btn btn-primary btn-lg active" id="preview-button" role="button" aria-pressed="true">Preview</a>
                    </div>
    
                </div>
            </div>
            <div class="col-lg-3 col-lg-offset-1" ng-show="sms_preview">
                <div class="template-preview" class="col-xs-6 col-md-4 div-border">
                    <div class="template-preview-channel">
                        <h2>Sms channel</h2>
                    </div>
                    <hr>
                    <div class="template-preview-channel">
                        <h4>{{selectSmsTemplate}}</h4>
                    </div>
                    <div>
                        <a ng-click="openSmsPreview()" class="btn btn-primary btn-lg active" id="preview-button" role="button" aria-pressed="true">Preview</a>
                    </div>
    
                </div>
            </div>
    
        </div>

</div>