

<div class="wrapper wrapper-content animated fadeInRight create-panel-section"
     ng-controller="createCampaignsCtrl as ccCtrl">

    <!-- START Spinner Div-->
    <div class="row" ng-show="ccCtrl.spinner">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="spiner-example">
                        <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Spinner Div-->

   <div ng-hide="ccCtrl.spinner">
       <div class="row">

           <form name="paginationForm" validate-form="" novalidate="" ng-submit="">
               <!--<form name="paginationForm" validate-form="" novalidate="" ng-submit="">-->

               <div class="col-lg-6 div-border div-margin-top">

                   <div class="ibox float-e-margins">
                       <div class="labelStyle">
                           <h2>{{ccCtrl.template_name}}</h2>
                       </div>
                       <div class="ibox-content" id="name">

                           <div class="form-group">
                               <label class="labelStyle">Name<sup class="astrick">*</sup></label>
                               <input type="text" placeholder="Give your campaign a name" ng-model="campaignName"
                                      required="required"
                                      class="form-control flex1 ng-pristine ng-untouched ng-valid">
                           </div>

                           <div ng-show="campaignName">

                               <div class="start-date form-group">
                                   <label class="labelStyle">
                                       Start Date and Time
                                       <sup class="astrick">*</sup>
                                   </label>
                               </div>
                               <div class="input-group datepicker" format="YYYY-MM-DD">
                            <span class="input-group-addon">
                                <i class="gray-text fa fa-calendar"></i>
                            </span>

                                   <input type="text" ng-model="startDate" ng-click="isDatepickerOpen = !isDatepickerOpen"
                                          class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                                          ng-model="startDate" is-open="isDatepickerOpen"
                                          ng-model-options="{ timezone: 'UTC' }" readonly="readonly"
                                          datepicker-options="datepickerOptionsStartDate"
                                          required="required" close-text="Close" alt-input-formats="altInputFormats"/>
                               </div>

                               <table class="time-picker">
                                   <tr>
                                       <td class="form-group">
                                           <input type="text" class=" hours" min="00" max="12" placeholder="HH"
                                                  ng-model="startHours" class="form-control text-center"
                                                  maxlength="2" size="2" required="required"
                                                  maxlength="2" positive-integer>
                                       </td>
                                       <td class="uib-separator">:</td>
                                       <td class="uib-separator">&nbsp;&nbsp;</td>
                                       <td class="form-group">
                                           <input type="text" class="minutes" min="00" max="60" placeholder="MM"
                                                  ng-model="startMinutes" class="form-control text-center"
                                                  required="required" maxlength="2" positive-integer>
                                       </td>
                                       <td class="uib-separator">&nbsp;</td>
                                       <td class="form-group meridian">
                                           <select name="" class="meridian-select" ng-model="startMed" required="required">
                                               <option value="am">AM</option>
                                               <option value="pm">PM</option>
                                           </select>
                                       </td>
                                   </tr>
                               </table>

                               <div class="mar-b-10 end-date">
                                   <label class="labelStyle">
                                       End Date and Time
                                       <sup class="astrick">*</sup>
                                   </label>
                               </div>
                               <div class="input-group datepicker" format="YYYY-MM-DD">
                            <span class="input-group-addon">
                                <i class="gray-text fa fa-calendar"></i>
                            </span>
                                   <input type="text" ng-click="isDatepickerOpen1 = !isDatepickerOpen1"
                                          class="form-control"
                                          uib-datepicker-popup="dd/MM/yyyy" readonly=""
                                          ng-model="endDate" is-open="isDatepickerOpen1"
                                          ng-model-options="{ timezone: 'UTC' }"
                                          datepicker-options="datepickerOptionsStartDate"
                                          required="required" close-text="Close" alt-input-formats="altInputFormats"/>
                               </div>
                               <table class="time-picker">
                                   <tr>
                                       <td class="form-group">
                                           <input type="text" class=" hours" min="00" max="12" placeholder="HH"
                                                  ng-model="endHour" class="form-control text-center" required="required"
                                                  maxlength="2" positive-integer>
                                       </td>
                                       <td class="uib-separator">:</td>
                                       <td class="uib-separator">&nbsp;&nbsp;</td>
                                       <td class="form-group">
                                           <input type="text" class="minutes" min="00" max="60" placeholder="MM"
                                                  ng-model="endMinute" class="form-control text-center"
                                                  required="required" maxlength="2" positive-integer>
                                       </td>
                                       <td class="uib-separator">&nbsp;</td>
                                       <td class="form-group meridian">
                                           <select name="" id="" class="meridian-select" ng-model="endMed"
                                                   required="required">
                                               <option value="am">AM</option>
                                               <option value="pm">PM</option>
                                           </select>
                                       </td>
                                   </tr>
                               </table>

                               <div class="Eventusers segment-name">

                                   <label class="labelStyle">Segments<sup class="astrick">*</sup></label>

                                   <select ng-model="selectSegmentEvent"
                                           class="form-control m-b" required="required">
                                       <option ng-repeat="segment in segmentName | orderBy" ng-value="segment">{{segment}}</option>
                                   </select>

                               </div>
                               <label class="labelStyle">Repetition Type<sup class="astrick">*</sup>:</label>&nbsp;&nbsp;
                               <div class="radio radio-info radio-inline recurring">
                                   <input type="radio" id="inlineRadio1" ng-model="repetition_type" value="recurring"
                                          ng-disabled="send_channels['push'].name || send_channels['sms'].name || send_channels['email'].name"
                                          name="radioInline" class="radio-button">
                                   <label for="inlineRadio1" class="recurring-label">Recurring</label>
                               </div>
                               <div class="radio radio-inline non-recurring">
                                   <input type="radio" id="inlineRadio2" ng-model="repetition_type" value="non-recurring"
                                          ng-disabled="send_channels['push'].name || send_channels['sms'].name || send_channels['email'].name"
                                          name="radioInline" checked="" class="radio-button">
                                   <label for="inlineRadio2" class="non-recurring-label">Non-Recurring</label>
                               </div>

                           </div>

                       </div>
                   </div>

               </div>

               <div class="col-lg-6 div-margin-top">
                   <div class="channel-add col-lg-5 col-lg-offset-1 div-margin-top"
                        ng-show="campaignName;startDate;startHours;startMinutes;startMed;endDate;endHours;endMinutes;endMed;selectSegmentEvent;repetition_type"
                        ng-click="div=true;temp=false">
                       <a class="btn btn-primary btn-lg active add-channel" role="button" aria-pressed="true">Add
                           Channel</a>
                   </div>
                   <div class="channel-add col-lg-5 col-lg-offset-1 div-margin-top"
                        ng-show="campaignName;startDate;startHours;startMinutes;startMed;endDate;endHours;endMinutes;endMed;selectSegmentEvent;repetition_type">
                       <button class="btn btn-primary btn-lg active launch" type="submit" role="button" aria-pressed="true"
                               ng-click="ccCtrl.createCampaign()">Launch</button>
                   </div>

                   <div ng-show="div" class="col-lg-10 col-lg-offset-1 choose-channel-main-div">
                       <div class="choose-channel-inner-div">

                           <div class="choose-channel">
                               <h2>Choose a channel</h2>
                           </div>
                           <div class="channel-picker">
                               <div class="flex flex-space-between choose-channel-list">
                                   <div class="text-center clickable email-channel"
                                        ng-click="emailChannel()">
                                       <div class="send-option" ng-class="">
                                           <img src="img/PN_imgs/send-mass-email.png" class="channel-img">
                                       </div>
                                       Email
                                   </div>
                                   <div class="text-center clickable push-channel"
                                        ng-click="pushChannel()">
                                       <div class="send-option" ng-class="">
                                           <img src="img/PN_imgs/push-notifications.png" class="channel-img">
                                       </div>
                                       Push
                                   </div>
                                   <div class="text-center clickable sms-channel" ng-click="smsChannel()">
                                       <div class="send-option" ng-class="">
                                           <img src="img/PN_imgs/sms.png" class="channel-img">
                                       </div>
                                       SMS
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>

               </div>

           </form>

       </div>

       <div class="row">
           <div class="col-lg-10 col-lg-offset-1">

               <div ng-show="push" class="wait-time" class="row">

                   <div class="labelStyle">
                       <h2>Push</h2>
                   </div>

                   <!--<div class="labelStyle">
                       <h2>Waiting Time (Push)<sup class="astrick">*</sup> :</h2>
                   </div>
                   <div class="col-md-12 .col-md-offset-3 time-select time-select">
                       <div class="row">
                           <div class="col-md-2">
                               <input type="text" placeholder="00" ng-model="push_channel[0].value_push"
                                      class="form-control text-center ng-pristine ng-valid ng-valid-maxlength ng-touched value-select"
                                      ng-readonly="::readonlyInput" maxlength="2" tabindex="0" positive-integer>
                           </div>
                           <div class="col-md-2">
                               <select id="unit" ng-model="push_channel[0].unit_push">
                                   <option value="" style="display: none" disabled selected>Unit</option>
                                   <option value="minute">Minute</option>
                                   <option value="hour">Hour</option>
                                   <option value="day">Day</option>
                                   <option value="month">Month</option>
                               </select>
                           </div>
                           &lt;!&ndash;<div class="col-md-2">
                               <select id="duration" ng-model="after_push">
                                   <option value="" style="display: none" disabled selected>After</option>
                                   <option value="after">After</option>
                               </select>
                           </div>
                           <div class="col-md-5">
                               <select id="event" ng-model="push_channel[0].when_push">
                                   <option value="" style="display: none" disabled selected>Triggered Event</option>
                                   <option value="triggered_event">Triggered Event</option>
                                   <option value="triggered_event-properties">Triggered Event Properties</option>
                               </select>
                           </div>&ndash;&gt;
                       </div>
                   </div>-->

                   <div>
                       <label class="labelStyle div-margin-top">Select Template<sup class="astrick">*</sup></label>
                       <select ng-model="push_channel[0].selectPnTemplate" ng-options="template for template in pnTemplateName"
                               class="form-control m-b"></select>
                   </div>

                   <div ng-show="repetition_type == 'recurring'">
                       <div class="col-md-3">
                           <label class="labelStyle">Frequency<sup class="astrick">*</sup></label>
                           <select id="frequency" ng-model="push_channel[0].frequency">
                               <option value="" disabled selected>Value</option>
                               <option value="2">2</option>
                               <option value="3">3</option>
                           </select>
                       </div>
                       <div class="col-md-4">
                           <label class="labelStyle">Frequency Interval<sup class="astrick">*</sup></label>
                           <select id="duration" ng-model="push_channel[0].frequency_time">
                               <option value="" disabled selected>Time</option>
                               <option value="1">1</option>
                               <option value="2">2</option>
                               <option value="3">3</option>
                               <option value="4">4</option>
                               <option value="5">5</option>
                               <option value="6">6</option>
                               <option value="7">7</option>
                               <option value="8">8</option>
                               <option value="9">9</option>
                               <option value="10">10</option>
                           </select>
                       </div>
                       <div class="col-md-4">
                           <label class="labelStyle">Frequency Unit<sup class="astrick">*</sup></label>
                           <select id="unit" ng-model="push_channel[0].frequency_unit">
                               <option value="" disabled selected>Unit</option>
                               <option value="hour">Hour</option>
                               <option value="day">Day</option>
                           </select>
                       </div>
                   </div>

                   <div id="cancel">
                       <button type="button" ng-click="push=false;div=true;push_channel[0]={}" class="btn btn-primary btn-md"
                               id="cancel-button">Cancel
                       </button>
                   </div>

                   <div>
                       <button type="button" class="btn btn-primary btn-md" id="create-button"
                               ng-click="getPushPreivew()">Create
                       </button>
                   </div>

               </div>

               <div ng-show="email" class="wait-time" class="col-lg-6 .col-md-offset-3 div-border">

                   <div class="labelStyle">
                       <h2>Email</h2>
                   </div>

                   <!--<div class="labelStyle">
                       <h2>Waiting Time (Email)<sup class="astrick">*</sup> :</h2>
                   </div>
                   <div class="col-md-12 .col-md-offset-3 time-select time-select">
                       <div class="col-md-2">
                           <input type="text" placeholder="00" ng-model="email_channel[0].value_email"
                                  class="form-control text-center ng-pristine ng-valid ng-valid-maxlength ng-touched value-select"
                                  ng-readonly="::readonlyInput" maxlength="2" tabindex="0" positive-integer>
                       </div>
                       <div class="col-md-2">
                           <select id="unit" ng-model="email_channel[0].unit_email">
                               <option value="" disabled selected>Unit</option>
                               <option value="minute">Minute</option>
                               <option value="hour">Hour</option>
                               <option value="day">Day</option>
                               <option value="month">Month</option>
                           </select>
                       </div>
                       &lt;!&ndash;<div class="col-md-2">
                           <select id="duration" ng-model="email_channel[0].after_email">
                               <option value="" disabled selected>After</option>
                               <option value="after">After</option>
                           </select>
                       </div>
                       <div class="col-md-5">
                           <select id="event" ng-model="email_channel[0].when_email">
                               <option value="" disabled selected>Triggered Event</option>
                               <option value="triggered_event">Triggered Event</option>
                               <option value="triggered_event-properties">Triggered Event Properties</option>
                           </select>
                       </div>&ndash;&gt;
                   </div>-->

                   <div>
                       <label class="labelStyle div-margin-top">Select Template<sup class="astrick">*</sup></label>
                       <select ng-model="email_channel[0].selectEmailTemplate" ng-options="template for template in emailTemplateName"
                               class="form-control m-b"></select>
                   </div>
                   <div ng-show="repetition_type == 'recurring'">
                       <div class="col-md-3">
                           <label class="labelStyle">Frequency<sup class="astrick">*</sup></label>
                           <select id="frequency" ng-model="email_channel[0].frequency">
                               <option value="" disabled selected>Value</option>
                               <option value="2">2</option>
                               <option value="3">3</option>
                           </select>
                       </div>
                       <div class="col-md-4">
                           <label class="labelStyle">Frequency Interval<sup class="astrick">*</sup></label>
                           <select id="duration" ng-model="email_channel[0].frequency_time">
                               <option value="" disabled selected>Time</option>
                               <option value="1">1</option>
                               <option value="2">2</option>
                               <option value="3">3</option>
                               <option value="4">4</option>
                               <option value="5">5</option>
                               <option value="6">6</option>
                               <option value="7">7</option>
                               <option value="8">8</option>
                               <option value="9">9</option>
                               <option value="10">10</option>
                           </select>
                       </div>
                       <div class="col-md-4">
                           <label class="labelStyle">Frequency Unit<sup class="astrick">*</sup></label>
                           <select id="unit" ng-model="email_channel[0].frequency_unit">
                               <option value="" disabled selected>Unit</option>
                               <option value="hour">Hour</option>
                               <option value="day">Day</option>
                           </select>
                       </div>
                   </div>
                   <div id="cancel">
                       <button type="button" ng-click="email=false;div=true;email_channel[0]={}" class="btn btn-primary btn-md"
                               id="cancel-button">Cancel
                       </button>
                   </div>
                   <div>
                       <button type="button" class="btn btn-primary btn-md" id="create-button"
                               ng-click="getEmailPreivew()">Create
                       </button>
                   </div>
               </div>

               <div ng-show="sms" class="wait-time" class="col-lg-6 .col-md-offset-3 div-border">

                   <div class="labelStyle">
                       <h2>SMS</h2>
                   </div>

                   <!--<div class="labelStyle">
                       <h2>Waiting Time (SMS)<sup class="astrick">*</sup>:</h2>
                   </div>
                   <div class="col-md-12 .col-md-offset-3 time-select time-select">
                       <div class="col-md-2">
                           <input type="text" placeholder="00" ng-model="sms_channel[0].value_sms"
                                  class="form-control text-center ng-pristine ng-valid ng-valid-maxlength ng-touched value-select"
                                  ng-readonly="::readonlyInput" maxlength="2" tabindex="0" positive-integer>
                       </div>
                       <div class="col-md-2">
                           <select id="unit" ng-model="sms_channel[0].unit_sms">
                               <option value="" disabled selected>Unit</option>
                               <option value="minute">Minute</option>
                               <option value="hour">Hour</option>
                               <option value="day">Day</option>
                               <option value="month">Month</option>
                           </select>
                       </div>
                       &lt;!&ndash;<div class="col-md-2">
                           <select id="duration" ng-model="sms_channel[0].after_sms">
                               <option value="" disabled selected>After</option>
                               <option value="after">After</option>
                           </select>
                       </div>
                       <div class="col-md-5">
                           <select id="event" ng-model="sms_channel[0].when_sms">
                               <option value="" disabled selected>Triggered Event</option>
                               <option value="triggered_event">Triggered Event</option>
                               <option value="triggered_event-properties">Triggered Event Properties</option>
                           </select>
                       </div>&ndash;&gt;
                   </div>-->

                   <div>
                       <label class="labelStyle div-margin-top">Select Template<sup class="astrick">*</sup></label>
                       <select ng-model="sms_channel[0].selectSmsTemplate" ng-options="template for template in smsTemplateName"
                               class="form-control m-b"></select>
                   </div>
                   <div ng-show="repetition_type == 'recurring'">
                       <div class="col-md-3">
                           <label class="labelStyle">Frequency<sup class="astrick">*</sup></label>
                           <select id="frequency" ng-model="sms_channel[0].frequency">
                               <option value="" disabled selected>Value</option>
                               <option value="2">2</option>
                               <option value="3">3</option>
                           </select>
                       </div>
                       <div class="col-md-4">
                           <label class="labelStyle">Frequency Interval<sup class="astrick">*</sup></label>
                           <select id="duration" ng-model="sms_channel[0].frequency_time">
                               <option value="" disabled selected>Time</option>
                               <option value="1">1</option>
                               <option value="2">2</option>
                               <option value="3">3</option>
                               <option value="4">4</option>
                               <option value="5">5</option>
                               <option value="6">6</option>
                               <option value="7">7</option>
                               <option value="8">8</option>
                               <option value="9">9</option>
                               <option value="10">10</option>
                           </select>
                       </div>
                       <div class="col-md-4">
                           <label class="labelStyle">Frequency Unit<sup class="astrick">*</sup></label>
                           <select id="unit" ng-model="sms_channel[0].frequency_unit">
                               <option value="" disabled selected>Unit</option>
                               <option value="hour">Hour</option>
                               <option value="day">Day</option>
                           </select>
                       </div>
                   </div>
                   <div id="cancel">
                       <button type="button" ng-click="sms=false;div=true;sms_channel[0]={}" class="btn btn-primary btn-md"
                               id="cancel-button">Cancel
                       </button>
                   </div>
                   <div>
                       <button type="button" class="btn btn-primary btn-md" id="create-button"
                               ng-click="getSmsPreivew()">Create
                       </button>
                   </div>
               </div>

           </div>
       </div>

       <!-- START preview -->
       <div class="row">
           <div class="col-lg-4" ng-show="push_preview">
               <div class="create-c-preview-div" class="col-xs-6 col-md-4 div-border">
                   <div class="template-preview-channel">
                       <h2>PN channel</h2>
                       <i class="fa fa-times float-right create-c-cross" ng-click="send_channels['push']={};push_preview=false;push_channel[0]={}"></i>
                       <div style="both:clear;"></div>
                   </div>
                   <hr>
                   <div class="template-preview-channel">
                       <h4>{{push_channel[0].selectPnTemplate}}</h4>
                   </div>
                   <div class="template-preview-channel">
                       <a ng-click="openPushPreview()" class="btn btn-primary btn-lg active create-c-preview-btn"
                          role="button" aria-pressed="true">Preview</a>
                   </div>
               </div>
           </div>

           <div class="col-lg-4" ng-show="email_preview">
               <div class="create-c-preview-div" class="col-xs-6 col-md-4 div-border">
                   <div class="template-preview-channel">
                       <h2>Email channel</h2>
                       <i class="fa fa-times float-right create-c-cross" ng-click="send_channels['email']={};email_preview=false;email_channel[0]={}"></i>
                       <div style="both:clear;"></div>
                   </div>
                   <hr>
                   <div class="template-preview-channel">
                       <h4>{{title_email}}</h4>
                   </div>
                   <div class="template-preview-channel">
                       <a ng-click="openEmailPreview()" class="btn btn-primary btn-lg active create-c-preview-btn"
                          role="button" aria-pressed="true">Preview</a>
                   </div>

               </div>
           </div>

           <div class="col-lg-4" ng-show="sms_preview">
               <div class="create-c-preview-div" class="col-xs-6 col-md-4 div-border">
                   <div class="template-preview-channel">
                       <h2>Sms channel</h2>
                       <i class="fa fa-times float-right create-c-cross" ng-click="send_channels['sms']={};sms_preview=false;sms_channel[0]={}"></i>
                       <div style="both:clear;"></div>
                   </div>
                   <hr>
                   <div class="template-preview-channel">
                       <h4>{{sms_channel[0].selectSmsTemplate}}</h4>
                   </div>
                   <div class="template-preview-channel">
                       <a ng-click="openSmsPreview()" class="btn btn-primary btn-lg active create-c-preview-btn"
                          role="button" aria-pressed="true">Preview</a>
                   </div>

               </div>
           </div>
       </div>
       <!-- END preview -->
   </div>

</div>