.heading-font{
    font-size: 14px;
}
.table-heading{
    font-size: 14px;
}
.table-data{
    font-size:14px;
}

.live-event-table > thead > tr > th, .live-event-table > tbody > tr > td{
    font-size:14px !important;
}

.live-events-table-desc-data{
    font-size: 12px !important;
}

