.index-card {
    background: white;
  }
  
  .index-card:hover {
    background: #ddd;
  }
  .input-control{
    border-radius: 3px;
      border-color: #cccccc;
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.43;
      color: #555555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
  }