/*css for create segment campaigns page*/

.div-border {
    border: 1px solid #dedede;
}
.div-margin-top{
    margin-top: 10px;
}
.datepicker{
    width: 200px;
}
.hours{
    width:40px;
    height: 34px;
}
.minutes{
    width:40px;
    height: 34px;
}
.meridian{
    margin-top: 5px;
}
.meridian-select{
  width:45px;
  height: 35px;
}
.start-date .end-date .segment-name{
    margin-top:20px;
}
.time-picker{
    margin-top:-35px;
    margin-left: 255px;
}
.add-channel .launch{
    height: 50px;
    width:200px;
}
.choose-channel-main-div{
    margin-top: 30px;
    margin-left:50px;
}
.choose-channel-inner-div{
    border: 1px solid #dedede;
    width:380px;
    margin-top: 10px;
    height:180px;
    background-color: #f5f5f57d;
}
.choose-channel{
    margin-left: 80px;
    margin-top: 10px;
    padding-top: 5px;
}
.choose-channel-list{
    flex-wrap: wrap;
}
.channel-picker{
    margin-top:30px;
    margin-right:130px
    ;padding-right: 30px;
}
.email-channel{
    margin-left:-50px;
}
.channel-img{
    width:50px;
}
.push-channel{
    margin-top:-68px;
    margin-right:-150px
}
.sms-channel{
    margin-top:-68px;
    margin-right:-350px;
}
.wait-time{
    width:600px;
    height: 350px;
    background-color: #f5f5f5b0;
    margin-top: 20px;
    margin-left:20px;
}
.time-select{
    width: 570px;
    height: 50px;
    background-color:#ffffff82;
    padding-top:9px;
}
.value-select{
    width: 80px;
}
#unit{
    width:80px;
    height: 35px;
}
#name{
    margin-top:20px;;
}
#frequency{
    width:80px;
    height: 35px;
}
#duration{
    width:80px;
    height: 35px;
}
#event{
    width:190px;
    height: 35px;
}
#cancel{
    margin-left:-100px;
}
#cancel-button{
    width: 8em;  
    height: 2em;
    margin-top:30px;
    margin-left:400px
}
#create-button{
    float:right;
    width: 8em;  
    height: 2em;
    margin-top:-28px;
}
.template-preview{
    width:200px;
    height:300px;
    background-color:#f5f5f5b0;
    margin-top: 10px;   
}

.create-c-preview-div{
    width:200px;
    background-color:#f5f5f5b0;
    margin-top: 10px;
}

.create-c-preview-div > div > h2{
    padding: 11px;
    margin: 0px;
}

.create-c-cross{
    margin-top: -31px;
    font-size: 20px;
    margin-right: 10px;
}

.create-c-preview-btn{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
}

.template-preview-channel{
    text-align: center;
}
#preview-button{
    margin-top: 50px;
    margin-left:33px;
    width:100px;
}
.recurring{
    margin-top:-6px;
}
.radio-button{
    width:1.5em;
    height:1.5em
}
.non-recurring{
    margin-top:-4px;
    margin-left: 5px;
}
.recurring-label{
    font-size: 1.3em;
}
.non-recurring-label{
    font-size: 1.3em;
    margin-left: 10px;
}


