.heading-font{
    font-size: 14px;
}
.table-data{
    font-size:12px;
}
#template_name{
    text-decoration:underline;
}
#edit{
    border-color: #55e3ed;
    font-size:12px;
    color: #000000;
}
.edit-option{
    color: #000000;
}
.edit{
    border-color: #55e3ed;
}
