.background{
    background: #ffffff;
    margin-bottom: 10px;
}

.labelStyle{
    color: chocolate;
}

.mobileViewBorder{
    width: 100%;
    height: auto;
    margin-top: -180% !important;
    padding-top: 5px;
    padding-bottom: 5px;
}
.mobileViewBackground{
    width: 100%;
    height: 70px;
    background-color: white;
    /*padding-left: 10px;*/
}

.mobileViewLogo img{
    height: 54px;
    max-width: 100%;
    margin-top: 6px;
    margin-left: 6px;
    margin-bottom: 6px;
    border-radius: 10px;
}

.mobileTitle{
    margin-left: -10%;
    margin-top: 5px;
    color:black;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 15px;
	line-height: 33px;
	font-family: Arial, Helvetica, sans-serif;
}

.mobileContent{
    margin-left: -10%;
    margin-right: 5%;
    color: black;
	line-height:6px;
	font-size:14px;													
	font-family: Arial, Helvetica, sans-serif;
	word-wrap: break-word;
}
.mobileBigImage img{
    width: 100%;
    height: 100%;
    margin-top: 1.81px;
    /*margin-left: -10px;*/
    margin-bottom: 2px;
}

.mobileOneButton{
    background-color: #000000e8;
    opacity: 0.7;
    margin-top: -32.86px;
    padding-left: 37%;
    margin-left: -10px;
}

.mobileOneButton button{
    margin-left: 70%;
    width: 30%;
    background-color: #323232;
    border: 0px;
    color: white;
}

.mobileTwoButtonFirstMain{
    background-color: #000000e8;
    opacity: 0.7;
    margin-top: -33.97px;
    padding-left: 37%;
}
/*.mobileTwoButtonFirstMain{
    background-color: #000000e8;
    opacity: 0.7;
    margin-top: -33.97px;
    padding-left: 37%;
    margin-left: -10px;
}*/

.mobileTwoButtonFirst{
    width: 35%;
    margin-left: 26%;
    background-color: #323232;
    color: white;
    border: 0px;

}

.pn-template-ok-btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    horizontal-align: right;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff;
    opacity: 0.5;
    height: 31px;
}

.mobileTwoButtonSecond{
    width: 35%;
    background-color: #323232;
    color: white;
    border: 0px;

}
.TextOneActionOneButton{
    /* background-color: #323232; */
    /* opacity: 0.5; */
    background-color: #ffffff;
    padding-left: 37%;
    /*margin-left: -10px;*/
}

.TextOneActionOneButton button{
    border: 0px;
    background-color: #000000;
    margin-left: 70%;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.TextTwoActionTwoButton{
    background-color: #ffffff;
    margin-top: -19.2px;
    padding-left: 37%;
}

.TextTwoActionTwoButtonCancle{
    border: 0px;
    background-color: white;
    background:white;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;

}
.TextTwoActionTwoButtonOk{
    border: 0px;
    background-color: white;
    background: white;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 24%;
}
#nexus{
    margin:auto;
     display:block;
}
#hr-line{
    height:1px;
    border:none;
    opacity:0.5;
    color:#333;
    background-color:#333;
}

.pn-btn-div{
    background-color: #000000e8;
    opacity: 0.7;
    text-align: right;
    height: 43px;
    margin-top: -43px;
    padding: 2px;
    padding-top: 4px;
    padding-right: 7px;
}

.push-template-view{
    position: relative;
    width: 60%;
    margin:auto;
    display:block;
}

.pn-textarea{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
}
