/*css for createSegment page*/
.create-panel-section{
    margin-top:10px;
    min-height: 800px;
  }
  .create-panel .form-group{
    width: 400px;
  }
  .create-panel-form{
    padding: 20px;
  }
  .select-group{
    margin-top:20px;
    width: 150px;

  }
  .select-event{
    margin-top:20px;
    width: 300px;
  }
.select-condition{
  margin-top:20px;
    width: 200px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: rgba(153, 153, 153, 0.3) !important;
}
.list-summary>li {
    text-align: center;
    border-right: 1px solid #d8e4e8;
    display: table-cell;
    width: 1%;
    background: #f4f9fb;
    padding: 20px 10px;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    text-transform: uppercase;
}
.mar-b-3 {
  margin-bottom: 3px;
}
.list-summary {
  border: 1px solid #d8e4e8;
  border-radius: 3px;
  list-style: none;
  padding: 0px;
  width: 100%;
}
.input-control{
  width: 200px;
}
.segmet-name{
  width: 400px;
  font-size: 20px;
  height: 30px;
}

.save-buttom, .submit-buttom{
  width: 120px;
  height: 34px;
}
.recent-activity{
  background-color:white;
  height: 530px;
}
.recent-activity-panel{
  min-height: 150px;
  margin-top: 20px;
}

.create-segment-ul > li{
    width:100% !important;
}

.create-segment-ul > li.active{
    background: transparent !important;
}

.create-segment-ul > li > a {
    width: 145px !important;
}

.c-s-btn-div{
    margin-top: 30px;
    text-align: right;
}

.c-s-date-field{
    width: 166px !important;/*200px - 34px*/
}

.c-s-input-field{
    height : 34px;
    width: 200px;
}