.create-panel-section{
    margin-top: 108px;
}

.create-segment-ul > li{
    width:100% !important;
}

.create-segment-ul > li.active{
    background: transparent !important;
}

.create-segment-ul > li > a {
    width: 145px !important;
}

.c-s-btn-div{
    margin-top: 30px;
    text-align: right;
}

.c-s-date-field{
    width: 166px !important;/*200px - 34px*/
}

.c-s-input-field{
    height : 34px;
    width: 200px;
}

.create-segment-hr{
    height: 2px;
}

.c-s-sub-h{
    font-weight: bold;
}

.c-s-form{
    padding: 10px;
}