<nav class="navbar-default navbar-static-side" role="navigation">

    <div class="sidebar-collapse">

        <ul side-navigation class="nav metismenu" id="side-menu">

            <li class="nav-header">

                <div class="profile-element" uib-dropdown>

                    <span>

                        <p uib-dropdown-toggle href>

                            <span class="clear">

                                <span class="block m-t-xs">

                                    <img src="img/PN_imgs/flyrobecss.png" id="logo">

                                </span>


                            </span>

                        </p>

                    </span>

                </div>

                <div class="logo-element">

                    <img src="img/PN_imgs/flyrobelogo.png">

                </div>

            </li>

            <li ng-class="{active: $state.includes('home.liveEvents')}" ng-if="main.roles[0].tabs.indexOf('LIVE')> -1">
                <a ui-sref="home.liveEvents">

                    <img src="img/PN_imgs/event.png" class="nav-icon">
                    <span class="nav-label">Live Events</span>

                </a>
            </li>

            <li ng-class="{active: $state.includes('home.campaigns')}" ng-if="main.roles[0].tabs.indexOf('CAMP') > -1">

                <a ui-sref="home.campaigns">

                    <img src="img/PN_imgs/campaigns.png" class="nav-icon">
                    <span class="nav-label">Campaigns</span>

                </a>

            </li>

            <li ng-class="{active: $state.includes('table.segments')}"
                ng-if="main.roles[0].tabs.indexOf('SEG') > -1">

                <a ui-sref="table.segments">

                    <i class="fa fa-users lg" id="segment-icon"></i>
                    <span class="nav-label">Segments</span>

                </a>

            </li>

            <!--<li ui-sref-active="active" ng-if="main.roles[0].tabs.indexOf('PUSH') > -1">

                <a ui-sref="home.pushMain">

                    <img src="img/PN_imgs/push-notifications.png" class="nav-icon">
                    <span class="nav-label">Push</span>

                </a>

            </li>

            <li ui-sref-active="active" ng-if="main.roles[0].tabs.indexOf('EMAIL') > -1">

                <a ui-sref="home.email">

                    <img src="img/PN_imgs/send-mass-email.png" class="nav-icon">
                    <span class="nav-label">Email</span>

                </a>

            </li>

            <li ui-sref-active="active" ng-if="main.roles[0].tabs.indexOf('SMS') > -1">

                <a ui-sref="home.sms">

                    <img src="img/PN_imgs/sms.png" class="nav-icon">
                    <span class="nav-label">Sms</span>

                </a>

            </li>-->

            <li ng-class="{active: ($state.includes('home.pushMain') || $state.includes('home.email') || $state.includes('home.sms'))}"
                ng-if="main.roles[0].tabs.indexOf('PUSH') > -1 || main.roles[0].tabs.indexOf('EMAIL') > -1 || main.roles[0].tabs.indexOf('SMS') > -1">
                <a ui-sref="#" class="navigation-a">
                    <img src="img/PN_imgs/push-notifications.png" class="nav-icon">
                    <span class="nav-label">{{ 'Template' | translate }}</span>
                </a>
                <ul class="nav nav-second-level">
                    <li ui-sref-active="active" ng-if="main.roles[0].tabs.indexOf('PUSH') > -1">
                        <a ui-sref="home.pushMain">{{ 'Push' | translate }}</a>
                    </li>
                    <li ui-sref-active="active" ng-if="main.roles[0].tabs.indexOf('EMAIL') > -1">
                        <a ui-sref="home.email">{{ 'Email' | translate }}</a>
                    </li>
                    <li ui-sref-active="active" ng-if="main.roles[0].tabs.indexOf('SMS') > -1">
                        <a ui-sref="home.sms">{{ 'SMS' | translate }}</a>
                    </li>
                </ul>
            </li>

        </ul>

    </div>

    </div>
</nav>

