<div class="row border-bottom">

    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0px">

        <div class="navbar-header nav-top minimize w-50p">
            <span minimaliza-sidebar></span>
            <h3  class="top-navbar-state">{{main.pn_state}}</h3>
        </div>

        <ul class="nav navbar-top-links navbar-right">

            <!-- <li ui-sref-active="active">

                <a ui-sref="aa.documentation">

                    <img src="img/PN_imgs/document.png" style="width:40px;">
                    <span class="nav-label">Documentation</span>

                </a>

            </li> -->

            <li>

                <a ng-click="main.logout()">

                    <i class="fa fa-sign-out"></i> Log out

                </a>

            </li>

        </ul>

    </nav>

</div>