
<div class="inmodal" style="border: 1px solid #dedede">


    <div class="row">
        <div class="col-lg-12" style="text-align: right">
            <i class="fa fa-times modal-cross" ng-click="ok()"></i>
        </div>
    </div>


    <div class="modal-header">
        <h4 class="modal-title">Preview</h4>
    </div>
    <div class="modal-body" style="height:480px">
        <div ng-controller="emailPreviewModalCtrl">

            <div id="studio">
                <section id="output">
                    <iframe id="studio-iframe" style="width:597px;margin-top:-20px;margin-left:0px;"></iframe>
                </section>
        
            </div>
           
        </div>

    </div>

</div>

