<div class="inmodal" ng-controller="modalCtrl as modalCtrl">
   
    <form ng-submit="updateTemp();sendPn();ok()">

        <div class="modal-header">

        </div>

        <div class="modal-body">
           
            <div class="targetUsers">
                
                <label class="labelStyle">Target Users</label>
                <select ng-change="check()" ng-model="userData.userSelected" ng-options="item.user for item in userArr" class="form-control m-b">
                </select>

            </div>
            
            <div class="Eventusers" ng-if="(userData.userSelected.user=='Segments')">
                
                <label class="labelStyle">Segments</label>
                <select ng-model="userData.eventArr" ng-options="eventobj for eventobj in segmentName" ng-change="checkEvent()" class="form-control m-b"></select>
            
            </div>
            
            <div class="form-group" ng-if="(userData.userSelected.user=='Selected Users')">
                
                <label class="control-label labelStyle">User Email</label>
                <div class="form-group">

                    <textarea class="form-control" name="userEmail" placeholder="example:'jhon@flyrobe.com'" required="required" ng-model="userData.email"
                        ng-pattern="/^[A-Za-z0-9\._%-]+@[A-Za-z0-9\.-]+\.[A-Za-z]{2,4}(?:[,][A-Za-z0-9\._%-]+@[A-Za-z0-9\.-]+\.[A-Za-z]{2,4}?)*/">
                        </textarea>

                </div>
           
            </div>
        
        </div>
        
        <div class="modal-footer">
            
            <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
            <button type="submit" id="submit" value="Submit" class="btn btn-primary">Send</button>
        
        </div>
    
    </form>

</div>