<div class="inmodal" ng-controller="modalCampaignsCtrl as modalCampaignsCtrl">
        <div class="modal-body" style="text-align: center;"> 
            <a style="text-decoration: none;background-color: transparent;color: inherit;" ui-sref="home.segmentCampaigns" ng-click="type=segment;ok()"><div class="index-card">
                <label><h2>Segment Triggered</h2></label>
                <p>Send messages when a user enters a segment</p>
            </div>
            </a>
            <a style="text-decoration: none;background-color: transparent;color: inherit;" ui-sref="home.eventCampaigns" ng-click="type=event;ok()"><div class="index-card">
                <label><h2>Event Triggered</h2></label>
                <p>Send messages when a custom event occurs</p>
            </div>
            </a>
            <a style="text-decoration: none;background-color: transparent;color: inherit;" ui-sref="home.oneTimeCampaigns" ng-click="type=singletime;ok()"><div class="index-card">
                <label><h2>One Time Send</h2></label>
                <p>Send a message once</p>
            </div>
            </a>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
           
        </div>
</div>