<style>
    button{
        pointer-events: none;
    }
</style>
<div class="inmodal" style="border: 1px solid #dedede">

    <div class="row">
        <div class="col-lg-12" style="text-align: right">
            <i class="fa fa-times modal-cross" ng-click="ok()"></i>
        </div>
    </div>

    <div class="modal-header">
        <h4 class="modal-title">Preview</h4>
    </div>

    <div class="modal-body" style="height:900px">
            <div>


                <div style="position: relative;">
                    <img src="img/PN_imgs/nexus-push.png" class="push-template-view">
                    <div class="push-template-view">
                        <div style="width : 90%;margin:auto;">

                            <div class="mobileViewBorder">
                                <div class="mobileViewBackground">

                                    <div class="row mobileViewLogo">
                                        <div class="col-sm-3">
                                            <img ng-src="{{large_icon_push}}">
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="mobileTitle">
                                                <b>{{title_push}}</b>
                                            </div>
                                            <div class="mobileContent">
                                                {{body_push | limitTo : 30}}
                                                <span ng-if="body_push.length > 30">...</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div ng-if="template_type_push =='image_no_action' || template_type_push == 'image_one_action' || template_type_push == 'image_two_action'"
                                                 class="mobileBigImage">
                                                <img ng-src="{{big_image_push}}" width="50%">
                                            </div>

                                            <div ng-if="template_type_push =='text_one_action'" class="TextOneActionOneButton">
                                                <button class="TextTwoActionTwoButtonOk">
                                                    <span class="cancel-button">OK</span>
                                                </button>
                                            </div>

                                            <div ng-if="template_type_push =='text_two_action'" class="TextTwoActionTwoButton">
                                                <hr style="height:1px;border:none;opacity:0.5;color:#333;background-color:#333;" />
                                                <div class="" style="margin-left: 9%;">
                                                    <button class="TextTwoActionTwoButtonCancle">
                                                        <span class="cancel-button">CANCEL</span>
                                                    </button>
                                                    <button class="TextTwoActionTwoButtonOk">
                                                        <span class="cancel-button">OK</span>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="pn-btn-div" ng-if="template_type_push == 'image_one_action'">
                                                <!--<button class="TextTwoActionTwoButtonOk">
                                                    <span class="cancel-button">OK</span>
                                                </button>-->

                                                <div class="pn-template-ok-btn w-50p">
                                                    OK
                                                </div>
                                            </div>

                                            <div ng-if="template_type_push=='image_two_action'"
                                                 class="pn-btn-div">
                                                <div class="w-50p float-right">
                                                    <div class="pn-template-ok-btn w-45p">
                                                        CANCEL
                                                    </div>
                                                    <div class="pn-template-ok-btn w-45p">
                                                        OK
                                                    </div>
                                                </div>
                                                <div style="clear: both;"></div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                    <!--<div style="position: relative;cursor: default;">
                        <img src="img/PN_imgs/nexus-push.png" style="margin:auto; display:block">
                        <div class="preview preview-position">
                            <div>

                                <div class="mobileViewBorder">
                                    <div class="mobileViewBackground">
                                        <div class="row mobileViewLogo">
                                            <div class="col-md-3">
                                                <img ng-src="{{large_icon_push}}">
                                            </div>
                                            <div class="col-md-9">
                                                <div class="mobileTitle">
                                                    <b>{{title_push}}</b>
                                                </div>
                                                <div class="mobileContent">
                                                    {{body_push}}
                                                </div>
                                            </div>
                                        </div>
                                        <div  class="mobileBigImage">
                                            <img ng-src="{{big_image_push}}" width="50%">
                                        </div>
                                        
                                        <div ng-show="'{{template_type_push}}' =='text_one_action'" style="margin-top:-17px" class="TextOneActionOneButton">
                                            <button class="TextTwoActionTwoButtonOk">
                                                <span class="cancel-button">OK</span>
                                            </button>
                                        </div>

                                        <div ng-show="'{{template_type_push}}' =='text_two_action'" style="margin-top:-38px"  class="TextTwoActionTwoButton">
                                            <hr style="height:1px;border:none;opacity:0.5;color:#333;background-color:#333;" />
                                            <div class="" style="margin-left: 9%;">
                                                <button class="TextTwoActionTwoButtonCancle">
                                                    <span class="cancel-button">CANCEL</span>
                                                </button>
                                                <button class="TextTwoActionTwoButtonOk">
                                                    <span class="cancel-button">OK</span>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="mobileOneButton" ng-show="'{{template_type_push}}'=='image_one_action'">
                                            <button class="TextTwoActionTwoButtonOk">
                                                <span class="cancel-button">OK</span>
                                            </button>
                                        </div>
                                        <div ng-show="'{{template_type_push}}'=='image_two_action'" class="mobileTwoButtonFirstMain">
                                            <button class="mobileTwoButtonFirst btn btn-default">
                                                CANCEL
                                            </button>
                                            <button class="mobileTwoButtonSecond btn btn-default">
                                                OK
                                            </button>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                
                
                </div>

    </div>

</div>

