<div class="inmodal" style="border: 1px solid #dedede">


    <div class="row">
        <div class="col-lg-12" style="text-align: right">
            <i class="fa fa-times modal-cross" ng-click="ok()"></i>
        </div>
    </div>

        <div class="modal-header">
            <h4 class="modal-title">Preview</h4>
        </div>
        <div class="modal-body" style="height:900px">
                <div>

                    <div style="position: relative;">
                        <img src="img/PN_imgs/nexus-push.png" class="create-sms-mobile">
                        <div class="create-sms-mobile">
                            <div style="width:90%;margin: auto;">
                                <div class="create-sms-mobile-view">
                                    <div class="create-sms-mobile-background">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="create-sms-title">
                                                    <b>VKFLYROBE</b>
                                                </div>
                                                <div class="create-sms-content">
                                                    {{content_sms}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                        <!--<div style="position: relative;">
                            <img src="img/PN_imgs/nexus-push.png" style="margin:auto; display:block">
                            <div class="preview preview-position">
                                <div>
    
                                    <div class="mobileViewBorder">
                                        <div class="mobileViewBackground">
                                            <div class="row mobileViewLogo">
                                                <div class="col-md-9" style="margin-left:40px;">
                                                    <div class="mobileTitle">
                                                        <b>{{title_sms}}</b>
                                                    </div>
                                                    <div class="mobileContent" style="margin-top:10px;">
                                                        {{content_sms}}
                                                    </div>
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                    </div>
    
        </div>
    
    </div>
    
    